body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:3590px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u0 {
  position:absolute;
  left:-10px;
  top:-40px;
  width:3610px;
  height:2080px;
}
#u0_img {
  position:absolute;
  left:0px;
  top:0px;
  width:3610px;
  height:2080px;
}
#u1 {
  position:absolute;
  left:2px;
  top:1032px;
  width:3606px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2 {
  position:absolute;
  left:50px;
  top:44px;
  width:200px;
  height:33px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-size:28px;
  color:#FFFFFF;
}
#u2_img {
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:33px;
}
#u3 {
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  word-wrap:break-word;
}
#u4 {
  position:absolute;
  left:50px;
  top:100px;
  width:1050px;
  height:114px;
  font-size:16px;
  color:#FFFFFF;
}
#u4_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1050px;
  height:114px;
}
#u5 {
  position:absolute;
  left:0px;
  top:0px;
  width:1050px;
  word-wrap:break-word;
}
#u6 {
  position:absolute;
  left:50px;
  top:260px;
  width:510px;
  height:33px;
  font-size:28px;
  color:#FFFFFF;
}
#u6_img {
  position:absolute;
  left:0px;
  top:0px;
  width:510px;
  height:33px;
}
#u7 {
  position:absolute;
  left:0px;
  top:0px;
  width:510px;
  word-wrap:break-word;
}
#u8 {
  position:absolute;
  left:50px;
  top:322px;
  width:1390px;
  height:190px;
  font-size:16px;
  color:#FFFFFF;
}
#u8_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1390px;
  height:190px;
}
#u9 {
  position:absolute;
  left:0px;
  top:0px;
  width:1390px;
  word-wrap:break-word;
}
#u10 {
  position:absolute;
  left:50px;
  top:547px;
  width:510px;
  height:33px;
  font-size:28px;
  color:#FFFFFF;
}
#u10_img {
  position:absolute;
  left:0px;
  top:0px;
  width:510px;
  height:33px;
}
#u11 {
  position:absolute;
  left:0px;
  top:0px;
  width:510px;
  word-wrap:break-word;
}
#u12 {
  position:absolute;
  left:50px;
  top:612px;
  width:1220px;
  height:190px;
  font-size:16px;
  color:#FFFFFF;
}
#u12_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1220px;
  height:190px;
}
#u13 {
  position:absolute;
  left:0px;
  top:0px;
  width:1220px;
  word-wrap:break-word;
}
