body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:434px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u0 {
  position:absolute;
  left:10px;
  top:10px;
  width:424px;
  height:848px;
}
#u0_img {
  position:absolute;
  left:0px;
  top:0px;
  width:424px;
  height:848px;
}
#u1 {
  position:absolute;
  left:2px;
  top:416px;
  width:420px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2 {
  position:absolute;
  left:34px;
  top:98px;
  width:379px;
  height:303px;
}
#u2_img {
  position:absolute;
  left:0px;
  top:0px;
  width:379px;
  height:303px;
}
#u3 {
  position:absolute;
  left:2px;
  top:144px;
  width:375px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4 {
  position:absolute;
  left:34px;
  top:390px;
  width:379px;
  height:378px;
}
#u4_img {
  position:absolute;
  left:0px;
  top:0px;
  width:379px;
  height:378px;
}
#u5 {
  position:absolute;
  left:2px;
  top:181px;
  width:375px;
  visibility:hidden;
  word-wrap:break-word;
}
#u6 {
  position:absolute;
  left:73px;
  top:99px;
  width:22px;
  height:21px;
  font-family:'IOS8-Icons Regular', 'IOS8-Icons';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  text-align:center;
}
#u6_img {
  position:absolute;
  left:0px;
  top:0px;
  width:22px;
  height:21px;
}
#u7 {
  position:absolute;
  left:0px;
  top:2px;
  width:22px;
  word-wrap:break-word;
}
#u8 {
  position:absolute;
  left:40px;
  top:107px;
  width:33px;
  height:5px;
}
#u8_img {
  position:absolute;
  left:0px;
  top:0px;
  width:33px;
  height:5px;
}
#u9 {
  position:absolute;
  left:2px;
  top:-6px;
  width:29px;
  visibility:hidden;
  word-wrap:break-word;
}
#u10 {
  position:absolute;
  left:375px;
  top:104px;
  width:25px;
  height:10px;
}
#u10_img {
  position:absolute;
  left:0px;
  top:0px;
  width:25px;
  height:10px;
}
#u11 {
  position:absolute;
  left:2px;
  top:-3px;
  width:21px;
  visibility:hidden;
  word-wrap:break-word;
}
#u12 {
  position:absolute;
  left:344px;
  top:101px;
  width:31px;
  height:16px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  text-align:center;
}
#u12_img {
  position:absolute;
  left:0px;
  top:0px;
  width:31px;
  height:16px;
}
#u13 {
  position:absolute;
  left:0px;
  top:0px;
  width:31px;
  word-wrap:break-word;
}
#u14 {
  position:absolute;
  left:322px;
  top:99px;
  width:22px;
  height:21px;
  font-family:'IOS8-Icons Regular', 'IOS8-Icons';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  text-align:center;
}
#u14_img {
  position:absolute;
  left:0px;
  top:0px;
  width:22px;
  height:21px;
}
#u15 {
  position:absolute;
  left:0px;
  top:2px;
  width:22px;
  word-wrap:break-word;
}
#u16 {
  position:absolute;
  left:192px;
  top:95px;
  width:62px;
  height:26px;
  font-family:'楷体 Bold', '楷体';
  font-weight:700;
  font-style:normal;
  text-align:center;
}
#u16_img {
  position:absolute;
  left:0px;
  top:0px;
  width:62px;
  height:26px;
}
#u17 {
  position:absolute;
  left:0px;
  top:6px;
  width:62px;
  word-wrap:break-word;
}
#u18 {
  position:absolute;
  left:192px;
  top:233px;
  width:57px;
  height:33px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:28px;
}
#u18_img {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:33px;
}
#u19 {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  white-space:nowrap;
}
#u20 {
  position:absolute;
  left:191px;
  top:266px;
  width:58px;
  height:23px;
  font-size:20px;
  color:#FF0000;
}
#u20_img {
  position:absolute;
  left:0px;
  top:0px;
  width:58px;
  height:23px;
}
#u21 {
  position:absolute;
  left:0px;
  top:0px;
  width:58px;
  white-space:nowrap;
}
#u22 {
  position:absolute;
  left:52px;
  top:411px;
  width:50px;
  height:44px;
  font-family:'IOS8-Icons Regular', 'IOS8-Icons';
  font-weight:400;
  font-style:normal;
  font-size:35px;
}
#u22_img {
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  height:44px;
}
#u23 {
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  word-wrap:break-word;
}
#u24 {
  position:absolute;
  left:52px;
  top:460px;
  width:30px;
  height:30px;
  font-family:'IOS8-Icons Regular', 'IOS8-Icons';
  font-weight:400;
  font-style:normal;
  font-size:30px;
}
#u24_img {
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:30px;
}
#u25 {
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  word-wrap:break-word;
}
#u26 {
  position:absolute;
  left:102px;
  top:419px;
  width:200px;
  height:25px;
}
#u26_input {
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:25px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u27 {
  position:absolute;
  left:102px;
  top:464px;
  width:200px;
  height:25px;
}
#u27_input {
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:25px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u28 {
  position:absolute;
  left:322px;
  top:509px;
  width:73px;
  height:15px;
}
#u29 {
  position:absolute;
  left:16px;
  top:0px;
  width:55px;
  word-wrap:break-word;
}
#u28_input {
  position:absolute;
  left:-3px;
  top:-2px;
}
#u30 {
  position:absolute;
  left:54px;
  top:580px;
  width:142px;
  height:30px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:18px;
}
#u30_img {
  position:absolute;
  left:0px;
  top:0px;
  width:142px;
  height:30px;
}
#u31 {
  position:absolute;
  left:2px;
  top:4px;
  width:138px;
  word-wrap:break-word;
}
#u32 {
  position:absolute;
  left:248px;
  top:580px;
  width:141px;
  height:30px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:18px;
}
#u32_img {
  position:absolute;
  left:0px;
  top:0px;
  width:141px;
  height:30px;
}
#u33 {
  position:absolute;
  left:2px;
  top:4px;
  width:137px;
  word-wrap:break-word;
}
#u34 {
  position:absolute;
  left:98px;
  top:508px;
  width:156px;
  height:19px;
  font-size:16px;
}
#u35 {
  position:absolute;
  left:16px;
  top:0px;
  width:138px;
  word-wrap:break-word;
}
#u34_input {
  position:absolute;
  left:-3px;
  top:-2px;
}
#u36 {
  position:absolute;
  left:324px;
  top:470px;
  width:63px;
  height:20px;
  text-decoration:underline;
  line-height:20px;
}
#u36_img {
  position:absolute;
  left:0px;
  top:0px;
  width:63px;
  height:20px;
}
#u37 {
  position:absolute;
  left:0px;
  top:0px;
  width:63px;
  white-space:nowrap;
}
