body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:400px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u1 {
  position:absolute;
  left:10px;
  top:10px;
  width:390px;
  height:568px;
}
#u1_img {
  position:absolute;
  left:0px;
  top:0px;
  width:390px;
  height:568px;
}
#u2 {
  position:absolute;
  left:2px;
  top:276px;
  width:386px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3 {
  position:absolute;
  left:10px;
  top:10px;
  width:390px;
  height:22px;
}
#u3_img {
  position:absolute;
  left:0px;
  top:0px;
  width:390px;
  height:22px;
}
#u4 {
  position:absolute;
  left:2px;
  top:3px;
  width:386px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5 {
  position:absolute;
  left:11px;
  top:10px;
  width:53px;
  height:18px;
  font-family:'宋体 Bold', '宋体';
  font-weight:700;
  font-style:normal;
  font-size:16px;
}
#u5_img {
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  height:18px;
}
#u6 {
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  white-space:nowrap;
}
#u7 {
  position:absolute;
  left:164px;
  top:10px;
  width:51px;
  height:18px;
  font-family:'宋体 Bold', '宋体';
  font-weight:700;
  font-style:normal;
  font-size:16px;
}
#u7_img {
  position:absolute;
  left:0px;
  top:0px;
  width:51px;
  height:18px;
}
#u8 {
  position:absolute;
  left:0px;
  top:0px;
  width:51px;
  white-space:nowrap;
}
#u9 {
  position:absolute;
  left:308px;
  top:10px;
  width:89px;
  height:18px;
  font-family:'宋体 Bold', '宋体';
  font-weight:700;
  font-style:normal;
  font-size:16px;
  text-align:center;
}
#u9_img {
  position:absolute;
  left:0px;
  top:0px;
  width:89px;
  height:18px;
}
#u10 {
  position:absolute;
  left:0px;
  top:0px;
  width:89px;
  white-space:nowrap;
}
#u11 {
  position:absolute;
  left:10px;
  top:32px;
  width:389px;
  height:387px;
  font-size:28px;
}
#u11_img {
  position:absolute;
  left:0px;
  top:0px;
  width:389px;
  height:387px;
}
#u12 {
  position:absolute;
  left:2px;
  top:177px;
  width:385px;
  word-wrap:break-word;
}
#u13 {
  position:absolute;
  left:17px;
  top:502px;
  width:72px;
  height:69px;
  font-family:'微软雅黑 Bold', '微软雅黑';
  font-weight:700;
  font-style:normal;
  font-size:16px;
}
#u13_img {
  position:absolute;
  left:0px;
  top:0px;
  width:72px;
  height:69px;
}
#u14 {
  position:absolute;
  left:2px;
  top:12px;
  width:68px;
  word-wrap:break-word;
}
#u15 {
  position:absolute;
  left:118px;
  top:502px;
  width:72px;
  height:69px;
  font-family:'微软雅黑 Bold', '微软雅黑';
  font-weight:700;
  font-style:normal;
  font-size:16px;
}
#u15_img {
  position:absolute;
  left:0px;
  top:0px;
  width:72px;
  height:69px;
}
#u16 {
  position:absolute;
  left:2px;
  top:12px;
  width:68px;
  word-wrap:break-word;
}
#u17 {
  position:absolute;
  left:219px;
  top:502px;
  width:72px;
  height:69px;
  font-family:'微软雅黑 Bold', '微软雅黑';
  font-weight:700;
  font-style:normal;
  font-size:16px;
}
#u17_img {
  position:absolute;
  left:0px;
  top:0px;
  width:72px;
  height:69px;
}
#u18 {
  position:absolute;
  left:2px;
  top:12px;
  width:68px;
  word-wrap:break-word;
}
#u19 {
  position:absolute;
  left:317px;
  top:502px;
  width:72px;
  height:69px;
  font-family:'微软雅黑 Bold', '微软雅黑';
  font-weight:700;
  font-style:normal;
  font-size:16px;
}
#u19_img {
  position:absolute;
  left:0px;
  top:0px;
  width:72px;
  height:69px;
}
#u20 {
  position:absolute;
  left:2px;
  top:12px;
  width:68px;
  word-wrap:break-word;
}
#u21 {
  position:absolute;
  left:11px;
  top:422px;
  width:387px;
  height:75px;
  font-size:17px;
}
#u21_img {
  position:absolute;
  left:0px;
  top:0px;
  width:387px;
  height:75px;
}
#u22 {
  position:absolute;
  left:2px;
  top:30px;
  width:383px;
  visibility:hidden;
  word-wrap:break-word;
}
#u23 {
  position:absolute;
  left:246px;
  top:427px;
  width:72px;
  height:65px;
}
#u23_img {
  position:absolute;
  left:0px;
  top:0px;
  width:72px;
  height:65px;
}
#u24 {
  position:absolute;
  left:2px;
  top:24px;
  width:68px;
  visibility:hidden;
  word-wrap:break-word;
}
#u25 {
  position:absolute;
  left:188px;
  top:447px;
  width:36px;
  height:36px;
  -webkit-transform:rotate(45deg);
  -moz-transform:rotate(45deg);
  -ms-transform:rotate(45deg);
  transform:rotate(45deg);
  font-family:'IOS8-Icons Regular', 'IOS8-Icons';
  font-weight:400;
  font-style:normal;
  font-size:28px;
}
#u25_img {
  position:absolute;
  left:0px;
  top:0px;
  width:36px;
  height:36px;
}
#u26 {
  position:absolute;
  left:0px;
  top:0px;
  width:36px;
  word-wrap:break-word;
}
#u27 {
  position:absolute;
  left:48px;
  top:428px;
  width:142px;
  height:65px;
  font-family:'微软雅黑 Bold', '微软雅黑';
  font-weight:700;
  font-style:normal;
  font-size:16px;
  text-align:center;
}
#u27_img {
  position:absolute;
  left:0px;
  top:0px;
  width:142px;
  height:65px;
}
#u28 {
  position:absolute;
  left:0px;
  top:0px;
  width:142px;
  word-wrap:break-word;
}
#u29 {
  position:absolute;
  left:38px;
  top:541px;
  width:30px;
  height:30px;
  font-family:'IOS8-Icons Regular', 'IOS8-Icons';
  font-weight:400;
  font-style:normal;
  font-size:28px;
}
#u29_img {
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:30px;
}
#u30 {
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  word-wrap:break-word;
}
#u31 {
  position:absolute;
  left:139px;
  top:541px;
  width:30px;
  height:30px;
  font-family:'IOS8-Icons Regular', 'IOS8-Icons';
  font-weight:400;
  font-style:normal;
  font-size:28px;
}
#u31_img {
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:30px;
}
#u32 {
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  word-wrap:break-word;
}
#u33 {
  position:absolute;
  left:243px;
  top:541px;
  width:30px;
  height:30px;
  font-family:'IOS8-Icons Regular', 'IOS8-Icons';
  font-weight:400;
  font-style:normal;
  font-size:28px;
}
#u33_img {
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:30px;
}
#u34 {
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  word-wrap:break-word;
}
#u35 {
  position:absolute;
  left:335px;
  top:537px;
  width:39px;
  height:30px;
  font-family:'IOS8-Icons Regular', 'IOS8-Icons';
  font-weight:400;
  font-style:normal;
  font-size:36px;
}
#u35_img {
  position:absolute;
  left:0px;
  top:0px;
  width:39px;
  height:30px;
}
#u36 {
  position:absolute;
  left:0px;
  top:0px;
  width:39px;
  word-wrap:break-word;
}
#u37 {
  position:absolute;
  left:12px;
  top:32px;
  width:387px;
  height:387px;
  overflow:hidden;
}
#u37_state0 {
  position:absolute;
  left:0px;
  top:0px;
  width:387px;
  height:387px;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-image:none;
}
#u37_state0_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u37_state1 {
  position:absolute;
  left:0px;
  top:0px;
  width:387px;
  height:387px;
  visibility:hidden;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-image:none;
}
#u37_state1_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u37_state2 {
  position:absolute;
  left:0px;
  top:0px;
  width:387px;
  height:387px;
  visibility:hidden;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-image:none;
}
#u37_state2_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
