body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:434px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u1 {
  position:absolute;
  left:10px;
  top:10px;
  width:424px;
  height:848px;
}
#u1_img {
  position:absolute;
  left:0px;
  top:0px;
  width:424px;
  height:848px;
}
#u2 {
  position:absolute;
  left:2px;
  top:416px;
  width:420px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3 {
  position:absolute;
  left:34px;
  top:98px;
  width:379px;
  height:77px;
}
#u3_img {
  position:absolute;
  left:0px;
  top:0px;
  width:379px;
  height:77px;
}
#u4 {
  position:absolute;
  left:2px;
  top:30px;
  width:375px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5 {
  position:absolute;
  left:34px;
  top:170px;
  width:379px;
  height:598px;
}
#u5_img {
  position:absolute;
  left:0px;
  top:0px;
  width:379px;
  height:598px;
}
#u6 {
  position:absolute;
  left:2px;
  top:291px;
  width:375px;
  visibility:hidden;
  word-wrap:break-word;
}
#u7 {
  position:absolute;
  left:73px;
  top:99px;
  width:22px;
  height:21px;
  font-family:'IOS8-Icons Regular', 'IOS8-Icons';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  text-align:center;
}
#u7_img {
  position:absolute;
  left:0px;
  top:0px;
  width:22px;
  height:21px;
}
#u8 {
  position:absolute;
  left:0px;
  top:2px;
  width:22px;
  word-wrap:break-word;
}
#u9 {
  position:absolute;
  left:40px;
  top:107px;
  width:33px;
  height:5px;
}
#u9_img {
  position:absolute;
  left:0px;
  top:0px;
  width:33px;
  height:5px;
}
#u10 {
  position:absolute;
  left:2px;
  top:-6px;
  width:29px;
  visibility:hidden;
  word-wrap:break-word;
}
#u11 {
  position:absolute;
  left:375px;
  top:104px;
  width:25px;
  height:10px;
}
#u11_img {
  position:absolute;
  left:0px;
  top:0px;
  width:25px;
  height:10px;
}
#u12 {
  position:absolute;
  left:2px;
  top:-3px;
  width:21px;
  visibility:hidden;
  word-wrap:break-word;
}
#u13 {
  position:absolute;
  left:344px;
  top:101px;
  width:31px;
  height:16px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  text-align:center;
}
#u13_img {
  position:absolute;
  left:0px;
  top:0px;
  width:31px;
  height:16px;
}
#u14 {
  position:absolute;
  left:0px;
  top:0px;
  width:31px;
  word-wrap:break-word;
}
#u15 {
  position:absolute;
  left:322px;
  top:99px;
  width:22px;
  height:21px;
  font-family:'IOS8-Icons Regular', 'IOS8-Icons';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  text-align:center;
}
#u15_img {
  position:absolute;
  left:0px;
  top:0px;
  width:22px;
  height:21px;
}
#u16 {
  position:absolute;
  left:0px;
  top:2px;
  width:22px;
  word-wrap:break-word;
}
#u17 {
  position:absolute;
  left:192px;
  top:95px;
  width:62px;
  height:26px;
  font-family:'楷体 Bold', '楷体';
  font-weight:700;
  font-style:normal;
  text-align:center;
}
#u17_img {
  position:absolute;
  left:0px;
  top:0px;
  width:62px;
  height:26px;
}
#u18 {
  position:absolute;
  left:0px;
  top:6px;
  width:62px;
  word-wrap:break-word;
}
#u19 {
  position:absolute;
  left:153px;
  top:310px;
  width:139px;
  height:130px;
}
#u19_img {
  position:absolute;
  left:-2px;
  top:-2px;
  width:149px;
  height:140px;
}
#u20 {
  position:absolute;
  left:2px;
  top:57px;
  width:135px;
  visibility:hidden;
  word-wrap:break-word;
}
#u21 {
  position:absolute;
  left:186px;
  top:357px;
  width:73px;
  height:41px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:36px;
}
#u21_img {
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  height:41px;
}
#u22 {
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  white-space:nowrap;
}
#u23 {
  position:absolute;
  left:258px;
  top:318px;
  width:22px;
  height:20px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:18px;
  color:#FFFFFF;
}
#u23_img {
  position:absolute;
  left:0px;
  top:0px;
  width:22px;
  height:20px;
}
#u24 {
  position:absolute;
  left:2px;
  top:-1px;
  width:18px;
  word-wrap:break-word;
}
#u25 {
  position:absolute;
  left:152px;
  top:500px;
  width:140px;
  height:130px;
}
#u25_img {
  position:absolute;
  left:-2px;
  top:-2px;
  width:150px;
  height:140px;
}
#u26 {
  position:absolute;
  left:2px;
  top:57px;
  width:136px;
  visibility:hidden;
  word-wrap:break-word;
}
#u27 {
  position:absolute;
  left:50px;
  top:135px;
  width:30px;
  height:30px;
  font-family:'IOS8-Icons Regular', 'IOS8-Icons';
  font-weight:400;
  font-style:normal;
  font-size:33px;
}
#u27_img {
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:30px;
}
#u28 {
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  word-wrap:break-word;
}
#u29 {
  position:absolute;
  left:362px;
  top:138px;
  width:39px;
  height:22px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:19px;
}
#u29_img {
  position:absolute;
  left:0px;
  top:0px;
  width:39px;
  height:22px;
}
#u30 {
  position:absolute;
  left:0px;
  top:0px;
  width:39px;
  white-space:nowrap;
}
#u31 {
  position:absolute;
  left:71px;
  top:137px;
  width:9px;
  height:9px;
}
#u31_img {
  position:absolute;
  left:0px;
  top:0px;
  width:9px;
  height:9px;
}
#u32 {
  position:absolute;
  left:2px;
  top:-4px;
  width:5px;
  visibility:hidden;
  word-wrap:break-word;
}
#u33 {
  position:absolute;
  left:202px;
  top:138px;
  width:39px;
  height:22px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:19px;
}
#u33_img {
  position:absolute;
  left:0px;
  top:0px;
  width:39px;
  height:22px;
}
#u34 {
  position:absolute;
  left:0px;
  top:0px;
  width:39px;
  white-space:nowrap;
}
#u35 {
  position:absolute;
  left:186px;
  top:526px;
  width:73px;
  height:82px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:36px;
}
#u35_img {
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  height:82px;
}
#u36 {
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  white-space:nowrap;
}
