body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:330px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u0 {
  position:absolute;
  left:10px;
  top:12px;
  width:320px;
  height:578px;
}
#u0_img {
  position:absolute;
  left:0px;
  top:0px;
  width:320px;
  height:578px;
}
#u1 {
  position:absolute;
  left:2px;
  top:281px;
  width:316px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2 {
  position:absolute;
  left:17px;
  top:12px;
  width:308px;
  height:13px;
}
#u2_img {
  position:absolute;
  left:0px;
  top:0px;
  width:308px;
  height:13px;
}
#u3 {
  position:absolute;
  left:2px;
  top:-2px;
  width:304px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4 {
  position:absolute;
  left:10px;
  top:25px;
  width:320px;
  height:147px;
}
#u4_img {
  position:absolute;
  left:0px;
  top:0px;
  width:320px;
  height:147px;
}
#u5 {
  position:absolute;
  left:2px;
  top:66px;
  width:316px;
  word-wrap:break-word;
}
#u6 {
  position:absolute;
  left:115px;
  top:30px;
  width:110px;
  height:24px;
  font-size:10px;
}
#u6_img {
  position:absolute;
  left:0px;
  top:0px;
  width:110px;
  height:24px;
}
#u7 {
  position:absolute;
  left:2px;
  top:6px;
  width:106px;
  word-wrap:break-word;
}
#u8 {
  position:absolute;
  left:310px;
  top:30px;
  width:15px;
  height:15px;
}
#u8_img {
  position:absolute;
  left:0px;
  top:0px;
  width:15px;
  height:15px;
}
#u9 {
  position:absolute;
  left:2px;
  top:0px;
  width:11px;
  visibility:hidden;
  word-wrap:break-word;
}
#u10 {
  position:absolute;
  left:10px;
  top:172px;
  width:320px;
  height:88px;
}
#u10_img {
  position:absolute;
  left:0px;
  top:0px;
  width:320px;
  height:88px;
}
#u11 {
  position:absolute;
  left:2px;
  top:36px;
  width:316px;
  visibility:hidden;
  word-wrap:break-word;
}
#u12 {
  position:absolute;
  left:165px;
  top:172px;
  width:10px;
  height:88px;
}
#u12_start {
  position:absolute;
  left:-5px;
  top:0px;
  width:20px;
  height:18px;
}
#u12_end {
  position:absolute;
  left:-5px;
  top:71px;
  width:20px;
  height:18px;
}
#u12_line {
  position:absolute;
  left:5px;
  top:0px;
  width:1px;
  height:88px;
}
#u13 {
  position:absolute;
  left:102px;
  top:206px;
  width:53px;
  height:32px;
  text-align:center;
}
#u13_img {
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  height:32px;
}
#u14 {
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  white-space:nowrap;
}
#u15 {
  position:absolute;
  left:17px;
  top:182px;
  width:70px;
  height:70px;
}
#u15_img {
  position:absolute;
  left:0px;
  top:0px;
  width:70px;
  height:70px;
}
#u16 {
  position:absolute;
  left:2px;
  top:27px;
  width:66px;
  visibility:hidden;
  word-wrap:break-word;
}
#u17 {
  position:absolute;
  left:265px;
  top:206px;
  width:53px;
  height:32px;
  text-align:center;
}
#u17_img {
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  height:32px;
}
#u18 {
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  white-space:nowrap;
}
#u19 {
  position:absolute;
  left:180px;
  top:182px;
  width:70px;
  height:70px;
}
#u19_img {
  position:absolute;
  left:0px;
  top:0px;
  width:70px;
  height:70px;
}
#u20 {
  position:absolute;
  left:2px;
  top:27px;
  width:66px;
  visibility:hidden;
  word-wrap:break-word;
}
#u21 {
  position:absolute;
  left:10px;
  top:270px;
  width:320px;
  height:320px;
  color:#CCCCCC;
}
#u21_img {
  position:absolute;
  left:0px;
  top:0px;
  width:320px;
  height:320px;
}
#u22 {
  position:absolute;
  left:2px;
  top:152px;
  width:316px;
  word-wrap:break-word;
}
#u24 {
  position:absolute;
  left:10px;
  top:545px;
  width:320px;
  height:45px;
}
#u24_img {
  position:absolute;
  left:0px;
  top:0px;
  width:320px;
  height:45px;
}
#u25 {
  position:absolute;
  left:2px;
  top:14px;
  width:316px;
  visibility:hidden;
  word-wrap:break-word;
}
#u26 {
  position:absolute;
  left:10px;
  top:545px;
  width:320px;
  height:45px;
}
#u26_img {
  position:absolute;
  left:0px;
  top:0px;
  width:320px;
  height:45px;
}
#u27 {
  position:absolute;
  left:2px;
  top:14px;
  width:316px;
  visibility:hidden;
  word-wrap:break-word;
}
#u28 {
  position:absolute;
  left:53px;
  top:551px;
  width:20px;
  height:20px;
}
#u28_img {
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  height:20px;
}
#u29 {
  position:absolute;
  left:2px;
  top:2px;
  width:16px;
  visibility:hidden;
  word-wrap:break-word;
}
#u30 {
  position:absolute;
  left:53px;
  top:571px;
  width:21px;
  height:16px;
  font-size:10px;
}
#u30_img {
  position:absolute;
  left:0px;
  top:0px;
  width:21px;
  height:16px;
}
#u31 {
  position:absolute;
  left:0px;
  top:0px;
  width:21px;
  white-space:nowrap;
}
#u32 {
  position:absolute;
  left:124px;
  top:551px;
  width:20px;
  height:20px;
}
#u32_img {
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  height:20px;
}
#u33 {
  position:absolute;
  left:2px;
  top:2px;
  width:16px;
  visibility:hidden;
  word-wrap:break-word;
}
#u34 {
  position:absolute;
  left:123px;
  top:571px;
  width:31px;
  height:16px;
  font-size:10px;
}
#u34_img {
  position:absolute;
  left:0px;
  top:0px;
  width:31px;
  height:16px;
}
#u35 {
  position:absolute;
  left:0px;
  top:0px;
  width:31px;
  white-space:nowrap;
}
#u36 {
  position:absolute;
  left:194px;
  top:551px;
  width:20px;
  height:20px;
}
#u36_img {
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  height:20px;
}
#u37 {
  position:absolute;
  left:2px;
  top:2px;
  width:16px;
  visibility:hidden;
  word-wrap:break-word;
}
#u38 {
  position:absolute;
  left:194px;
  top:571px;
  width:21px;
  height:16px;
  font-size:10px;
}
#u38_img {
  position:absolute;
  left:0px;
  top:0px;
  width:21px;
  height:16px;
}
#u39 {
  position:absolute;
  left:0px;
  top:0px;
  width:21px;
  white-space:nowrap;
}
#u40 {
  position:absolute;
  left:266px;
  top:551px;
  width:20px;
  height:20px;
}
#u40_img {
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  height:20px;
}
#u41 {
  position:absolute;
  left:2px;
  top:2px;
  width:16px;
  visibility:hidden;
  word-wrap:break-word;
}
#u42 {
  position:absolute;
  left:266px;
  top:571px;
  width:21px;
  height:16px;
  font-size:10px;
}
#u42_img {
  position:absolute;
  left:0px;
  top:0px;
  width:21px;
  height:16px;
}
#u43 {
  position:absolute;
  left:0px;
  top:0px;
  width:21px;
  white-space:nowrap;
}
#u44 {
  position:absolute;
  left:17px;
  top:30px;
  width:15px;
  height:15px;
}
#u44_img {
  position:absolute;
  left:0px;
  top:0px;
  width:15px;
  height:15px;
}
#u45 {
  position:absolute;
  left:2px;
  top:0px;
  width:11px;
  visibility:hidden;
  word-wrap:break-word;
}
