body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:722px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u0 {
  position:absolute;
  left:20px;
  top:20px;
  width:320px;
  height:620px;
}
#u0_img {
  position:absolute;
  left:0px;
  top:0px;
  width:320px;
  height:620px;
}
#u1 {
  position:absolute;
  left:2px;
  top:302px;
  width:316px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2 {
  position:absolute;
  left:20px;
  top:35px;
  width:320px;
  height:46px;
}
#u2_img {
  position:absolute;
  left:0px;
  top:0px;
  width:320px;
  height:46px;
}
#u3 {
  position:absolute;
  left:2px;
  top:15px;
  width:316px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4 {
  position:absolute;
  left:142px;
  top:46px;
  width:128px;
  height:25px;
  font-family:'Helvetica Neue Regular', 'Helvetica Neue';
  font-size:21px;
  color:#000000;
}
#u4_img {
  position:absolute;
  left:0px;
  top:0px;
  width:128px;
  height:25px;
}
#u5 {
  position:absolute;
  left:0px;
  top:0px;
  width:128px;
  word-wrap:break-word;
}
#u6 {
  position:absolute;
  left:31px;
  top:48px;
  width:12px;
  height:20px;
}
#u6_img {
  position:absolute;
  left:0px;
  top:0px;
  width:12px;
  height:20px;
}
#u7 {
  position:absolute;
  left:2px;
  top:2px;
  width:8px;
  visibility:hidden;
  word-wrap:break-word;
}
#u8 {
  position:absolute;
  left:27px;
  top:20px;
  width:308px;
  height:13px;
}
#u8_img {
  position:absolute;
  left:0px;
  top:0px;
  width:308px;
  height:13px;
}
#u9 {
  position:absolute;
  left:2px;
  top:-2px;
  width:304px;
  visibility:hidden;
  word-wrap:break-word;
}
#u10 {
  position:absolute;
  left:25px;
  top:100px;
  width:309px;
  height:370px;
}
#u10_img {
  position:absolute;
  left:0px;
  top:0px;
  width:309px;
  height:370px;
}
#u11 {
  position:absolute;
  left:2px;
  top:177px;
  width:305px;
  visibility:hidden;
  word-wrap:break-word;
}
#u12 {
  position:absolute;
  left:44px;
  top:169px;
  width:126px;
  height:16px;
  font-size:14px;
}
#u12_img {
  position:absolute;
  left:0px;
  top:0px;
  width:126px;
  height:16px;
}
#u13 {
  position:absolute;
  left:0px;
  top:0px;
  width:126px;
  word-wrap:break-word;
}
#u14 {
  position:absolute;
  left:27px;
  top:149px;
  width:305px;
  height:10px;
}
#u14_start {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u14_end {
  position:absolute;
  left:288px;
  top:-5px;
  width:18px;
  height:20px;
}
#u14_line {
  position:absolute;
  left:0px;
  top:5px;
  width:305px;
  height:1px;
}
#u15 {
  position:absolute;
  left:42px;
  top:105px;
  width:45px;
  height:45px;
  color:#FFFFFF;
}
#u15_img {
  position:absolute;
  left:0px;
  top:0px;
  width:45px;
  height:45px;
}
#u16 {
  position:absolute;
  left:2px;
  top:14px;
  width:41px;
  word-wrap:break-word;
}
#u17 {
  position:absolute;
  left:100px;
  top:107px;
  width:198px;
  height:16px;
}
#u17_img {
  position:absolute;
  left:0px;
  top:0px;
  width:198px;
  height:16px;
}
#u18 {
  position:absolute;
  left:0px;
  top:0px;
  width:198px;
  word-wrap:break-word;
}
#u19 {
  position:absolute;
  left:102px;
  top:134px;
  width:198px;
  height:16px;
}
#u19_img {
  position:absolute;
  left:0px;
  top:0px;
  width:198px;
  height:16px;
}
#u20 {
  position:absolute;
  left:0px;
  top:0px;
  width:198px;
  word-wrap:break-word;
}
#u21 {
  position:absolute;
  left:360px;
  top:248px;
  width:362px;
  height:32px;
}
#u21_img {
  position:absolute;
  left:0px;
  top:0px;
  width:362px;
  height:32px;
}
#u22 {
  position:absolute;
  left:0px;
  top:0px;
  width:362px;
  word-wrap:break-word;
}
#u23 {
  position:absolute;
  left:60px;
  top:210px;
  width:225px;
  height:225px;
}
#u23_img {
  position:absolute;
  left:0px;
  top:0px;
  width:225px;
  height:225px;
}
#u24 {
  position:absolute;
  left:2px;
  top:104px;
  width:221px;
  word-wrap:break-word;
}
#u25 {
  position:absolute;
  left:300px;
  top:115px;
  width:32px;
  height:24px;
  font-size:20px;
}
#u25_img {
  position:absolute;
  left:0px;
  top:0px;
  width:32px;
  height:24px;
}
#u26 {
  position:absolute;
  left:0px;
  top:0px;
  width:32px;
  word-wrap:break-word;
}
