body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:434px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u1 {
  position:absolute;
  left:10px;
  top:10px;
  width:424px;
  height:848px;
}
#u1_img {
  position:absolute;
  left:0px;
  top:0px;
  width:424px;
  height:848px;
}
#u2 {
  position:absolute;
  left:2px;
  top:416px;
  width:420px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3 {
  position:absolute;
  left:34px;
  top:97px;
  width:379px;
  height:671px;
}
#u3_img {
  position:absolute;
  left:0px;
  top:0px;
  width:379px;
  height:671px;
}
#u4 {
  position:absolute;
  left:2px;
  top:328px;
  width:375px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5 {
  position:absolute;
  left:35px;
  top:99px;
  width:375px;
  height:20px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#000000;
}
#u5_img {
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:20px;
}
#u6 {
  position:absolute;
  left:2px;
  top:0px;
  width:371px;
  word-wrap:break-word;
}
#u7 {
  position:absolute;
  left:73px;
  top:99px;
  width:22px;
  height:20px;
  font-family:'IOS8-Icons Regular', 'IOS8-Icons';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  text-align:center;
}
#u7_img {
  position:absolute;
  left:0px;
  top:0px;
  width:22px;
  height:20px;
}
#u8 {
  position:absolute;
  left:0px;
  top:2px;
  width:22px;
  word-wrap:break-word;
}
#u9 {
  position:absolute;
  left:40px;
  top:107px;
  width:33px;
  height:5px;
}
#u9_img {
  position:absolute;
  left:0px;
  top:0px;
  width:33px;
  height:5px;
}
#u10 {
  position:absolute;
  left:2px;
  top:-6px;
  width:29px;
  visibility:hidden;
  word-wrap:break-word;
}
#u11 {
  position:absolute;
  left:375px;
  top:104px;
  width:25px;
  height:10px;
}
#u11_img {
  position:absolute;
  left:0px;
  top:0px;
  width:25px;
  height:10px;
}
#u12 {
  position:absolute;
  left:2px;
  top:-3px;
  width:21px;
  visibility:hidden;
  word-wrap:break-word;
}
#u13 {
  position:absolute;
  left:344px;
  top:101px;
  width:31px;
  height:16px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  text-align:center;
}
#u13_img {
  position:absolute;
  left:0px;
  top:0px;
  width:31px;
  height:16px;
}
#u14 {
  position:absolute;
  left:0px;
  top:0px;
  width:31px;
  word-wrap:break-word;
}
#u15 {
  position:absolute;
  left:322px;
  top:99px;
  width:22px;
  height:20px;
  font-family:'IOS8-Icons Regular', 'IOS8-Icons';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  text-align:center;
}
#u15_img {
  position:absolute;
  left:0px;
  top:0px;
  width:22px;
  height:20px;
}
#u16 {
  position:absolute;
  left:0px;
  top:2px;
  width:22px;
  word-wrap:break-word;
}
#u17 {
  position:absolute;
  left:35px;
  top:119px;
  width:375px;
  height:39px;
}
#u17_img {
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:39px;
}
#u18 {
  position:absolute;
  left:2px;
  top:12px;
  width:371px;
  visibility:hidden;
  word-wrap:break-word;
}
#u19 {
  position:absolute;
  left:40px;
  top:126px;
  width:30px;
  height:30px;
  font-family:'IOS8-Icons Regular', 'IOS8-Icons';
  font-weight:400;
  font-style:normal;
  font-size:28px;
}
#u19_img {
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:30px;
}
#u20 {
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  word-wrap:break-word;
}
#u21 {
  position:absolute;
  left:71px;
  top:129px;
  width:33px;
  height:19px;
  font-size:16px;
}
#u21_img {
  position:absolute;
  left:0px;
  top:0px;
  width:33px;
  height:19px;
}
#u22 {
  position:absolute;
  left:0px;
  top:0px;
  width:33px;
  white-space:nowrap;
}
#u23 {
  position:absolute;
  left:207px;
  top:130px;
  width:33px;
  height:19px;
  font-size:16px;
}
#u23_img {
  position:absolute;
  left:0px;
  top:0px;
  width:33px;
  height:19px;
}
#u24 {
  position:absolute;
  left:0px;
  top:0px;
  width:33px;
  white-space:nowrap;
}
#u25 {
  position:absolute;
  left:367px;
  top:130px;
  width:33px;
  height:19px;
  font-size:16px;
}
#u25_img {
  position:absolute;
  left:0px;
  top:0px;
  width:33px;
  height:19px;
}
#u26 {
  position:absolute;
  left:0px;
  top:0px;
  width:33px;
  white-space:nowrap;
}
#u27 {
  position:absolute;
  left:110px;
  top:330px;
  width:227px;
  height:23px;
  font-size:20px;
}
#u27_img {
  position:absolute;
  left:0px;
  top:0px;
  width:227px;
  height:23px;
}
#u28 {
  position:absolute;
  left:0px;
  top:0px;
  width:227px;
  word-wrap:break-word;
}
#u29 {
  position:absolute;
  left:149px;
  top:500px;
  width:124px;
  height:23px;
  font-size:20px;
}
#u29_img {
  position:absolute;
  left:0px;
  top:0px;
  width:124px;
  height:23px;
}
#u30 {
  position:absolute;
  left:0px;
  top:0px;
  width:124px;
  word-wrap:break-word;
}
#u31 {
  position:absolute;
  left:166px;
  top:380px;
  width:85px;
  height:90px;
}
#u31_img {
  position:absolute;
  left:0px;
  top:0px;
  width:85px;
  height:90px;
}
#u32 {
  position:absolute;
  left:2px;
  top:37px;
  width:81px;
  visibility:hidden;
  word-wrap:break-word;
}
#u33 {
  position:absolute;
  left:88px;
  top:673px;
  width:297px;
  height:40px;
  font-family:'微软雅黑 Bold', '微软雅黑';
  font-weight:700;
  font-style:normal;
}
#u33_img {
  position:absolute;
  left:0px;
  top:0px;
  width:307px;
  height:50px;
}
#u34 {
  position:absolute;
  left:2px;
  top:4px;
  width:293px;
  word-wrap:break-word;
}
#u35 {
  position:absolute;
  left:59px;
  top:670px;
  width:49px;
  height:46px;
}
#u35_img {
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  height:46px;
}
#u36 {
  position:absolute;
  left:2px;
  top:15px;
  width:45px;
  visibility:hidden;
  word-wrap:break-word;
}
#u37 {
  position:absolute;
  left:69px;
  top:677px;
  width:30px;
  height:30px;
  font-family:'IOS8-Icons Bold', 'IOS8-Icons';
  font-weight:700;
  font-style:normal;
  font-size:28px;
  color:#FF0000;
}
#u37_img {
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:30px;
}
#u38 {
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  word-wrap:break-word;
}
