body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1000px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u1 {
  position:absolute;
  left:10px;
  top:10px;
  width:390px;
  height:568px;
}
#u1_img {
  position:absolute;
  left:0px;
  top:0px;
  width:390px;
  height:568px;
}
#u2 {
  position:absolute;
  left:2px;
  top:276px;
  width:386px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3 {
  position:absolute;
  left:10px;
  top:10px;
  width:390px;
  height:22px;
}
#u3_img {
  position:absolute;
  left:0px;
  top:0px;
  width:390px;
  height:22px;
}
#u4 {
  position:absolute;
  left:2px;
  top:3px;
  width:386px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5 {
  position:absolute;
  left:11px;
  top:10px;
  width:53px;
  height:18px;
  font-family:'宋体 Bold', '宋体';
  font-weight:700;
  font-style:normal;
  font-size:16px;
}
#u5_img {
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  height:18px;
}
#u6 {
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  white-space:nowrap;
}
#u7 {
  position:absolute;
  left:164px;
  top:10px;
  width:51px;
  height:18px;
  font-family:'宋体 Bold', '宋体';
  font-weight:700;
  font-style:normal;
  font-size:16px;
}
#u7_img {
  position:absolute;
  left:0px;
  top:0px;
  width:51px;
  height:18px;
}
#u8 {
  position:absolute;
  left:0px;
  top:0px;
  width:51px;
  white-space:nowrap;
}
#u9 {
  position:absolute;
  left:308px;
  top:10px;
  width:89px;
  height:18px;
  font-family:'宋体 Bold', '宋体';
  font-weight:700;
  font-style:normal;
  font-size:16px;
  text-align:center;
}
#u9_img {
  position:absolute;
  left:0px;
  top:0px;
  width:89px;
  height:18px;
}
#u10 {
  position:absolute;
  left:0px;
  top:0px;
  width:89px;
  white-space:nowrap;
}
#u11 {
  position:absolute;
  left:11px;
  top:511px;
  width:389px;
  height:67px;
}
#u11_img {
  position:absolute;
  left:0px;
  top:0px;
  width:389px;
  height:67px;
}
#u12 {
  position:absolute;
  left:2px;
  top:26px;
  width:385px;
  visibility:hidden;
  word-wrap:break-word;
}
#u13 {
  position:absolute;
  left:335px;
  top:516px;
  width:62px;
  height:57px;
}
#u13_img {
  position:absolute;
  left:0px;
  top:0px;
  width:62px;
  height:57px;
}
#u14 {
  position:absolute;
  left:2px;
  top:20px;
  width:58px;
  visibility:hidden;
  word-wrap:break-word;
}
#u15 {
  position:absolute;
  left:158px;
  top:40px;
  width:85px;
  height:64px;
}
#u15_img {
  position:absolute;
  left:0px;
  top:0px;
  width:85px;
  height:64px;
}
#u16 {
  position:absolute;
  left:2px;
  top:24px;
  width:81px;
  visibility:hidden;
  word-wrap:break-word;
}
#u17 {
  position:absolute;
  left:184px;
  top:45px;
  width:35px;
  height:35px;
}
#u17_img {
  position:absolute;
  left:0px;
  top:0px;
  width:35px;
  height:35px;
}
#u18 {
  position:absolute;
  left:2px;
  top:10px;
  width:31px;
  visibility:hidden;
  word-wrap:break-word;
}
#u19 {
  position:absolute;
  left:168px;
  top:82px;
  width:65px;
  height:18px;
  font-family:'宋体 常规', '宋体';
  font-weight:400;
  font-style:normal;
  font-size:16px;
}
#u19_img {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  height:18px;
}
#u20 {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  white-space:nowrap;
}
#u21 {
  position:absolute;
  left:10px;
  top:512px;
  width:102px;
  height:18px;
  font-family:'Arial Narrow', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:14px;
}
#u21_img {
  position:absolute;
  left:0px;
  top:0px;
  width:102px;
  height:18px;
}
#u22 {
  position:absolute;
  left:0px;
  top:0px;
  width:102px;
  white-space:nowrap;
}
#u23 {
  position:absolute;
  left:10px;
  top:121px;
  width:387px;
  height:10px;
}
#u23_start {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u23_end {
  position:absolute;
  left:370px;
  top:-5px;
  width:18px;
  height:20px;
}
#u23_line {
  position:absolute;
  left:0px;
  top:4px;
  width:387px;
  height:3px;
}
#u24 {
  position:absolute;
  left:102px;
  top:283px;
  width:228px;
  height:38px;
  font-size:26px;
}
#u24_img {
  position:absolute;
  left:0px;
  top:0px;
  width:228px;
  height:38px;
}
#u25 {
  position:absolute;
  left:0px;
  top:0px;
  width:228px;
  word-wrap:break-word;
}
#u26 {
  position:absolute;
  left:155px;
  top:389px;
  width:100px;
  height:66px;
  font-size:20px;
}
#u26_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:66px;
}
#u27 {
  position:absolute;
  left:2px;
  top:10px;
  width:96px;
  word-wrap:break-word;
}
#u28 {
  position:absolute;
  left:465px;
  top:375px;
  width:250px;
  height:100px;
  font-size:18px;
  color:#800080;
}
#u28_img {
  position:absolute;
  left:0px;
  top:0px;
  width:250px;
  height:100px;
}
#u29 {
  position:absolute;
  left:0px;
  top:39px;
  width:250px;
  word-wrap:break-word;
}
#u30 {
  position:absolute;
  left:255px;
  top:415px;
  width:200px;
  height:10px;
}
#u30_start {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u30_end {
  position:absolute;
  left:183px;
  top:-5px;
  width:18px;
  height:20px;
}
#u30_line {
  position:absolute;
  left:0px;
  top:5px;
  width:200px;
  height:1px;
}
#u31 {
  position:absolute;
  left:715px;
  top:420px;
  width:285px;
  height:10px;
}
#u31_start {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u31_end {
  position:absolute;
  left:268px;
  top:-5px;
  width:18px;
  height:20px;
}
#u31_line {
  position:absolute;
  left:0px;
  top:5px;
  width:285px;
  height:1px;
}
#u32 {
  position:absolute;
  left:746px;
  top:401px;
  width:239px;
  height:19px;
  font-size:16px;
}
#u32_img {
  position:absolute;
  left:0px;
  top:0px;
  width:239px;
  height:19px;
}
#u33 {
  position:absolute;
  left:0px;
  top:0px;
  width:239px;
  white-space:nowrap;
}
#u34 {
  position:absolute;
  left:43px;
  top:480px;
  width:342px;
  height:21px;
  font-size:16px;
}
#u34_img {
  position:absolute;
  left:0px;
  top:0px;
  width:342px;
  height:21px;
}
#u35 {
  position:absolute;
  left:0px;
  top:0px;
  width:342px;
  word-wrap:break-word;
}
#u36 {
  position:absolute;
  left:166px;
  top:180px;
  width:79px;
  height:73px;
  font-family:'IOS8-Icons Regular', 'IOS8-Icons';
  font-weight:400;
  font-style:normal;
  font-size:72px;
}
#u36_img {
  position:absolute;
  left:0px;
  top:0px;
  width:79px;
  height:73px;
}
#u37 {
  position:absolute;
  left:0px;
  top:0px;
  width:79px;
  word-wrap:break-word;
}
#u38 {
  position:absolute;
  left:190px;
  top:425px;
  width:30px;
  height:30px;
  font-family:'IOS8-Icons Regular', 'IOS8-Icons';
  font-weight:400;
  font-style:normal;
  font-size:28px;
}
#u38_img {
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:30px;
}
#u39 {
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  visibility:hidden;
  word-wrap:break-word;
}
#u40 {
  position:absolute;
  left:190px;
  top:422px;
  width:30px;
  height:30px;
  font-family:'IOS8-Icons Regular', 'IOS8-Icons';
  font-weight:400;
  font-style:normal;
  font-size:35px;
}
#u40_img {
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:30px;
}
#u41 {
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  word-wrap:break-word;
}
