body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:910px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u0 {
  position:absolute;
  left:10px;
  top:10px;
  width:424px;
  height:848px;
}
#u0_img {
  position:absolute;
  left:0px;
  top:0px;
  width:424px;
  height:848px;
}
#u1 {
  position:absolute;
  left:2px;
  top:416px;
  width:420px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2 {
  position:absolute;
  left:34px;
  top:98px;
  width:379px;
  height:77px;
}
#u2_img {
  position:absolute;
  left:0px;
  top:0px;
  width:379px;
  height:77px;
}
#u3 {
  position:absolute;
  left:2px;
  top:30px;
  width:375px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4 {
  position:absolute;
  left:34px;
  top:117px;
  width:379px;
  height:651px;
}
#u4_img {
  position:absolute;
  left:0px;
  top:0px;
  width:379px;
  height:651px;
}
#u5 {
  position:absolute;
  left:2px;
  top:318px;
  width:375px;
  visibility:hidden;
  word-wrap:break-word;
}
#u6 {
  position:absolute;
  left:73px;
  top:99px;
  width:22px;
  height:21px;
  font-family:'IOS8-Icons Regular', 'IOS8-Icons';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  text-align:center;
}
#u6_img {
  position:absolute;
  left:0px;
  top:0px;
  width:22px;
  height:21px;
}
#u7 {
  position:absolute;
  left:0px;
  top:2px;
  width:22px;
  word-wrap:break-word;
}
#u8 {
  position:absolute;
  left:40px;
  top:107px;
  width:33px;
  height:5px;
}
#u8_img {
  position:absolute;
  left:0px;
  top:0px;
  width:33px;
  height:5px;
}
#u9 {
  position:absolute;
  left:2px;
  top:-6px;
  width:29px;
  visibility:hidden;
  word-wrap:break-word;
}
#u10 {
  position:absolute;
  left:375px;
  top:104px;
  width:25px;
  height:10px;
}
#u10_img {
  position:absolute;
  left:0px;
  top:0px;
  width:25px;
  height:10px;
}
#u11 {
  position:absolute;
  left:2px;
  top:-3px;
  width:21px;
  visibility:hidden;
  word-wrap:break-word;
}
#u12 {
  position:absolute;
  left:344px;
  top:101px;
  width:31px;
  height:16px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  text-align:center;
}
#u12_img {
  position:absolute;
  left:0px;
  top:0px;
  width:31px;
  height:16px;
}
#u13 {
  position:absolute;
  left:0px;
  top:0px;
  width:31px;
  word-wrap:break-word;
}
#u14 {
  position:absolute;
  left:322px;
  top:99px;
  width:22px;
  height:21px;
  font-family:'IOS8-Icons Regular', 'IOS8-Icons';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  text-align:center;
}
#u14_img {
  position:absolute;
  left:0px;
  top:0px;
  width:22px;
  height:21px;
}
#u15 {
  position:absolute;
  left:0px;
  top:2px;
  width:22px;
  word-wrap:break-word;
}
#u16 {
  position:absolute;
  left:192px;
  top:95px;
  width:62px;
  height:26px;
  font-family:'楷体 Bold', '楷体';
  font-weight:700;
  font-style:normal;
  text-align:center;
}
#u16_img {
  position:absolute;
  left:0px;
  top:0px;
  width:62px;
  height:26px;
}
#u17 {
  position:absolute;
  left:0px;
  top:6px;
  width:62px;
  word-wrap:break-word;
}
#u18 {
  position:absolute;
  left:153px;
  top:310px;
  width:139px;
  height:130px;
}
#u18_img {
  position:absolute;
  left:-2px;
  top:-2px;
  width:149px;
  height:140px;
}
#u19 {
  position:absolute;
  left:2px;
  top:57px;
  width:135px;
  visibility:hidden;
  word-wrap:break-word;
}
#u20 {
  position:absolute;
  left:186px;
  top:357px;
  width:73px;
  height:41px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:36px;
}
#u20_img {
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  height:41px;
}
#u21 {
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  white-space:nowrap;
}
#u22 {
  position:absolute;
  left:152px;
  top:500px;
  width:140px;
  height:130px;
}
#u22_img {
  position:absolute;
  left:-2px;
  top:-2px;
  width:150px;
  height:140px;
}
#u23 {
  position:absolute;
  left:2px;
  top:57px;
  width:136px;
  visibility:hidden;
  word-wrap:break-word;
}
#u24 {
  position:absolute;
  left:186px;
  top:526px;
  width:73px;
  height:82px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:36px;
}
#u24_img {
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  height:82px;
}
#u25 {
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  white-space:nowrap;
}
#u26 {
  position:absolute;
  left:375px;
  top:192px;
  width:200px;
  height:10px;
}
#u26_start {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u26_end {
  position:absolute;
  left:183px;
  top:-5px;
  width:18px;
  height:20px;
}
#u26_line {
  position:absolute;
  left:0px;
  top:5px;
  width:200px;
  height:1px;
}
#u27 {
  position:absolute;
  left:585px;
  top:185px;
  width:101px;
  height:23px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:20px;
}
#u27_img {
  position:absolute;
  left:0px;
  top:0px;
  width:101px;
  height:23px;
}
#u28 {
  position:absolute;
  left:0px;
  top:0px;
  width:101px;
  white-space:nowrap;
}
#u29 {
  position:absolute;
  left:292px;
  top:370px;
  width:268px;
  height:10px;
}
#u29_start {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u29_end {
  position:absolute;
  left:251px;
  top:-5px;
  width:18px;
  height:20px;
}
#u29_line {
  position:absolute;
  left:0px;
  top:5px;
  width:268px;
  height:1px;
}
#u30 {
  position:absolute;
  left:585px;
  top:347px;
  width:325px;
  height:73px;
  font-size:16px;
}
#u30_img {
  position:absolute;
  left:0px;
  top:0px;
  width:325px;
  height:73px;
}
#u31 {
  position:absolute;
  left:0px;
  top:0px;
  width:325px;
  word-wrap:break-word;
}
#u32 {
  position:absolute;
  left:282px;
  top:560px;
  width:268px;
  height:10px;
}
#u32_start {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u32_end {
  position:absolute;
  left:251px;
  top:-5px;
  width:18px;
  height:20px;
}
#u32_line {
  position:absolute;
  left:0px;
  top:5px;
  width:268px;
  height:1px;
}
#u33 {
  position:absolute;
  left:585px;
  top:547px;
  width:325px;
  height:73px;
  font-size:16px;
}
#u33_img {
  position:absolute;
  left:0px;
  top:0px;
  width:325px;
  height:73px;
}
#u34 {
  position:absolute;
  left:0px;
  top:0px;
  width:325px;
  word-wrap:break-word;
}
