body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:351px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u0 {
  position:absolute;
  left:20px;
  top:20px;
  width:320px;
  height:568px;
}
#u0_img {
  position:absolute;
  left:0px;
  top:0px;
  width:320px;
  height:568px;
}
#u1 {
  position:absolute;
  left:2px;
  top:276px;
  width:316px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2 {
  position:absolute;
  left:27px;
  top:20px;
  width:308px;
  height:13px;
}
#u2_img {
  position:absolute;
  left:0px;
  top:0px;
  width:308px;
  height:13px;
}
#u3 {
  position:absolute;
  left:2px;
  top:-2px;
  width:304px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4 {
  position:absolute;
  left:20px;
  top:35px;
  width:320px;
  height:46px;
}
#u4_img {
  position:absolute;
  left:0px;
  top:0px;
  width:320px;
  height:46px;
}
#u5 {
  position:absolute;
  left:2px;
  top:15px;
  width:316px;
  visibility:hidden;
  word-wrap:break-word;
}
#u6 {
  position:absolute;
  left:136px;
  top:46px;
  width:95px;
  height:25px;
  font-family:'Helvetica Neue Regular', 'Helvetica Neue';
  font-size:21px;
  color:#000000;
}
#u6_img {
  position:absolute;
  left:0px;
  top:0px;
  width:95px;
  height:25px;
}
#u7 {
  position:absolute;
  left:0px;
  top:0px;
  width:95px;
  word-wrap:break-word;
}
#u8 {
  position:absolute;
  left:31px;
  top:48px;
  width:12px;
  height:20px;
}
#u8_img {
  position:absolute;
  left:0px;
  top:0px;
  width:12px;
  height:20px;
}
#u9 {
  position:absolute;
  left:2px;
  top:2px;
  width:8px;
  visibility:hidden;
  word-wrap:break-word;
}
#u10 {
  position:absolute;
  left:50px;
  top:230px;
  width:100px;
  height:100px;
  font-size:20px;
}
#u10_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:100px;
}
#u11 {
  position:absolute;
  left:2px;
  top:38px;
  width:96px;
  word-wrap:break-word;
}
#u12 {
  position:absolute;
  left:200px;
  top:230px;
  width:100px;
  height:100px;
  font-size:20px;
}
#u12_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:100px;
}
#u13 {
  position:absolute;
  left:2px;
  top:38px;
  width:96px;
  word-wrap:break-word;
}
#u14 {
  position:absolute;
  left:284px;
  top:50px;
  width:67px;
  height:16px;
}
#u14_img {
  position:absolute;
  left:0px;
  top:0px;
  width:67px;
  height:16px;
}
#u15 {
  position:absolute;
  left:0px;
  top:0px;
  width:67px;
  word-wrap:break-word;
}
