body {
  margin:0px;
  background-color:rgba(51, 51, 51, 1);
  background-image:none;
  position:static;
  left:auto;
  width:2910px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u0 {
  position:absolute;
  left:220px;
  top:144px;
  width:750px;
  height:1333px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
}
#u0_img {
  position:absolute;
  left:0px;
  top:0px;
  width:750px;
  height:1333px;
}
#u1 {
  position:absolute;
  left:2px;
  top:658px;
  width:746px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2 {
  position:absolute;
  left:220px;
  top:182px;
  width:750px;
  height:110px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:36px;
}
#u2_img {
  position:absolute;
  left:0px;
  top:0px;
  width:750px;
  height:110px;
}
#u3 {
  position:absolute;
  left:2px;
  top:34px;
  width:746px;
  word-wrap:break-word;
}
#u4 {
  position:absolute;
  left:220px;
  top:140px;
  width:750px;
  height:43px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
}
#u4_img {
  position:absolute;
  left:0px;
  top:0px;
  width:750px;
  height:43px;
}
#u5 {
  position:absolute;
  left:2px;
  top:14px;
  width:746px;
  visibility:hidden;
  word-wrap:break-word;
}
#u6 {
  position:absolute;
  left:220px;
  top:291px;
  width:750px;
  height:93px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
}
#u6_img {
  position:absolute;
  left:0px;
  top:0px;
  width:750px;
  height:93px;
}
#u7 {
  position:absolute;
  left:2px;
  top:38px;
  width:746px;
  visibility:hidden;
  word-wrap:break-word;
}
#u8 {
  position:absolute;
  left:236px;
  top:313px;
  width:50px;
  height:50px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
}
#u8_img {
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  height:50px;
}
#u9 {
  position:absolute;
  left:2px;
  top:17px;
  width:46px;
  visibility:hidden;
  word-wrap:break-word;
}
#u10 {
  position:absolute;
  left:316px;
  top:323px;
  width:115px;
  height:28px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:24px;
}
#u10_img {
  position:absolute;
  left:0px;
  top:0px;
  width:115px;
  height:28px;
}
#u11 {
  position:absolute;
  left:0px;
  top:0px;
  width:115px;
  word-wrap:break-word;
}
#u12 {
  position:absolute;
  left:220px;
  top:394px;
  width:750px;
  height:93px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
}
#u12_img {
  position:absolute;
  left:0px;
  top:0px;
  width:750px;
  height:93px;
}
#u13 {
  position:absolute;
  left:2px;
  top:38px;
  width:746px;
  visibility:hidden;
  word-wrap:break-word;
}
#u14 {
  position:absolute;
  left:236px;
  top:416px;
  width:50px;
  height:50px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
}
#u14_img {
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  height:50px;
}
#u15 {
  position:absolute;
  left:2px;
  top:17px;
  width:46px;
  visibility:hidden;
  word-wrap:break-word;
}
#u16 {
  position:absolute;
  left:316px;
  top:426px;
  width:115px;
  height:28px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:24px;
}
#u16_img {
  position:absolute;
  left:0px;
  top:0px;
  width:115px;
  height:28px;
}
#u17 {
  position:absolute;
  left:0px;
  top:0px;
  width:115px;
  word-wrap:break-word;
}
#u18 {
  position:absolute;
  left:912px;
  top:420px;
  width:40px;
  height:40px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
}
#u18_img {
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  height:40px;
}
#u19 {
  position:absolute;
  left:2px;
  top:12px;
  width:36px;
  visibility:hidden;
  word-wrap:break-word;
}
#u20 {
  position:absolute;
  left:220px;
  top:487px;
  width:750px;
  height:93px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
}
#u20_img {
  position:absolute;
  left:0px;
  top:0px;
  width:750px;
  height:93px;
}
#u21 {
  position:absolute;
  left:2px;
  top:38px;
  width:746px;
  visibility:hidden;
  word-wrap:break-word;
}
#u22 {
  position:absolute;
  left:236px;
  top:509px;
  width:50px;
  height:50px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
}
#u22_img {
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  height:50px;
}
#u23 {
  position:absolute;
  left:2px;
  top:17px;
  width:46px;
  visibility:hidden;
  word-wrap:break-word;
}
#u24 {
  position:absolute;
  left:316px;
  top:519px;
  width:115px;
  height:28px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:24px;
}
#u24_img {
  position:absolute;
  left:0px;
  top:0px;
  width:115px;
  height:28px;
}
#u25 {
  position:absolute;
  left:0px;
  top:0px;
  width:115px;
  word-wrap:break-word;
}
#u26 {
  position:absolute;
  left:912px;
  top:513px;
  width:40px;
  height:40px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
}
#u26_img {
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  height:40px;
}
#u27 {
  position:absolute;
  left:2px;
  top:12px;
  width:36px;
  visibility:hidden;
  word-wrap:break-word;
}
#u28 {
  position:absolute;
  left:220px;
  top:590px;
  width:750px;
  height:93px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
}
#u28_img {
  position:absolute;
  left:0px;
  top:0px;
  width:750px;
  height:93px;
}
#u29 {
  position:absolute;
  left:2px;
  top:38px;
  width:746px;
  visibility:hidden;
  word-wrap:break-word;
}
#u30 {
  position:absolute;
  left:236px;
  top:612px;
  width:50px;
  height:50px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
}
#u30_img {
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  height:50px;
}
#u31 {
  position:absolute;
  left:2px;
  top:17px;
  width:46px;
  visibility:hidden;
  word-wrap:break-word;
}
#u32 {
  position:absolute;
  left:316px;
  top:622px;
  width:115px;
  height:28px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:24px;
}
#u32_img {
  position:absolute;
  left:0px;
  top:0px;
  width:115px;
  height:28px;
}
#u33 {
  position:absolute;
  left:0px;
  top:0px;
  width:115px;
  word-wrap:break-word;
}
#u34 {
  position:absolute;
  left:912px;
  top:616px;
  width:40px;
  height:40px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
}
#u34_img {
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  height:40px;
}
#u35 {
  position:absolute;
  left:2px;
  top:12px;
  width:36px;
  visibility:hidden;
  word-wrap:break-word;
}
#u36 {
  position:absolute;
  left:220px;
  top:683px;
  width:750px;
  height:93px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
}
#u36_img {
  position:absolute;
  left:0px;
  top:0px;
  width:750px;
  height:93px;
}
#u37 {
  position:absolute;
  left:2px;
  top:38px;
  width:746px;
  visibility:hidden;
  word-wrap:break-word;
}
#u38 {
  position:absolute;
  left:236px;
  top:705px;
  width:50px;
  height:50px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
}
#u38_img {
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  height:50px;
}
#u39 {
  position:absolute;
  left:2px;
  top:17px;
  width:46px;
  visibility:hidden;
  word-wrap:break-word;
}
#u40 {
  position:absolute;
  left:316px;
  top:715px;
  width:155px;
  height:28px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:24px;
}
#u40_img {
  position:absolute;
  left:0px;
  top:0px;
  width:155px;
  height:28px;
}
#u41 {
  position:absolute;
  left:0px;
  top:0px;
  width:155px;
  word-wrap:break-word;
}
#u42 {
  position:absolute;
  left:912px;
  top:709px;
  width:40px;
  height:40px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
}
#u42_img {
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  height:40px;
}
#u43 {
  position:absolute;
  left:2px;
  top:12px;
  width:36px;
  visibility:hidden;
  word-wrap:break-word;
}
#u44 {
  position:absolute;
  left:1730px;
  top:145px;
  width:750px;
  height:1332px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
}
#u44_img {
  position:absolute;
  left:0px;
  top:0px;
  width:750px;
  height:1332px;
}
#u45 {
  position:absolute;
  left:2px;
  top:658px;
  width:746px;
  visibility:hidden;
  word-wrap:break-word;
}
#u46 {
  position:absolute;
  left:1730px;
  top:187px;
  width:750px;
  height:110px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:36px;
}
#u46_img {
  position:absolute;
  left:0px;
  top:0px;
  width:750px;
  height:110px;
}
#u47 {
  position:absolute;
  left:2px;
  top:34px;
  width:746px;
  word-wrap:break-word;
}
#u48 {
  position:absolute;
  left:1730px;
  top:145px;
  width:750px;
  height:43px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
}
#u48_img {
  position:absolute;
  left:0px;
  top:0px;
  width:750px;
  height:43px;
}
#u49 {
  position:absolute;
  left:2px;
  top:14px;
  width:746px;
  visibility:hidden;
  word-wrap:break-word;
}
#u50 {
  position:absolute;
  left:1730px;
  top:292px;
  width:750px;
  height:245px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
}
#u50_img {
  position:absolute;
  left:0px;
  top:0px;
  width:750px;
  height:245px;
}
#u51 {
  position:absolute;
  left:2px;
  top:114px;
  width:746px;
  visibility:hidden;
  word-wrap:break-word;
}
#u52 {
  position:absolute;
  left:2398px;
  top:228px;
  width:55px;
  height:28px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:24px;
}
#u52_img {
  position:absolute;
  left:0px;
  top:0px;
  width:55px;
  height:28px;
}
#u53 {
  position:absolute;
  left:0px;
  top:0px;
  width:55px;
  word-wrap:break-word;
}
#u54 {
  position:absolute;
  left:1800px;
  top:342px;
  width:150px;
  height:150px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
}
#u54_img {
  position:absolute;
  left:0px;
  top:0px;
  width:150px;
  height:150px;
}
#u55 {
  position:absolute;
  left:2px;
  top:67px;
  width:146px;
  visibility:hidden;
  word-wrap:break-word;
}
#u56 {
  position:absolute;
  left:1914px;
  top:459px;
  width:35px;
  height:35px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
}
#u56_img {
  position:absolute;
  left:0px;
  top:0px;
  width:35px;
  height:35px;
}
#u57 {
  position:absolute;
  left:2px;
  top:10px;
  width:31px;
  visibility:hidden;
  word-wrap:break-word;
}
#u58 {
  position:absolute;
  left:1970px;
  top:342px;
  width:105px;
  height:28px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:24px;
}
#u58_img {
  position:absolute;
  left:0px;
  top:0px;
  width:105px;
  height:28px;
}
#u59 {
  position:absolute;
  left:0px;
  top:0px;
  width:105px;
  word-wrap:break-word;
}
#u60 {
  position:absolute;
  left:1970px;
  top:403px;
  width:105px;
  height:28px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:24px;
}
#u60_img {
  position:absolute;
  left:0px;
  top:0px;
  width:105px;
  height:28px;
}
#u61 {
  position:absolute;
  left:0px;
  top:0px;
  width:105px;
  word-wrap:break-word;
}
#u62 {
  position:absolute;
  left:2423px;
  top:397px;
  width:40px;
  height:40px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
}
#u62_img {
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  height:40px;
}
#u63 {
  position:absolute;
  left:2px;
  top:12px;
  width:36px;
  visibility:hidden;
  word-wrap:break-word;
}
#u64 {
  position:absolute;
  left:912px;
  top:317px;
  width:40px;
  height:40px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
}
#u64_img {
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  height:40px;
}
#u65 {
  position:absolute;
  left:2px;
  top:12px;
  width:36px;
  visibility:hidden;
  word-wrap:break-word;
}
#u66 {
  position:absolute;
  left:1730px;
  top:540px;
  width:750px;
  height:93px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
}
#u66_img {
  position:absolute;
  left:0px;
  top:0px;
  width:750px;
  height:93px;
}
#u67 {
  position:absolute;
  left:2px;
  top:38px;
  width:746px;
  visibility:hidden;
  word-wrap:break-word;
}
#u68 {
  position:absolute;
  left:1746px;
  top:562px;
  width:50px;
  height:50px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
}
#u68_img {
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  height:50px;
}
#u69 {
  position:absolute;
  left:2px;
  top:17px;
  width:46px;
  visibility:hidden;
  word-wrap:break-word;
}
#u70 {
  position:absolute;
  left:1826px;
  top:572px;
  width:115px;
  height:28px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:24px;
}
#u70_img {
  position:absolute;
  left:0px;
  top:0px;
  width:115px;
  height:28px;
}
#u71 {
  position:absolute;
  left:0px;
  top:0px;
  width:115px;
  word-wrap:break-word;
}
#u72 {
  position:absolute;
  left:2422px;
  top:566px;
  width:40px;
  height:40px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
}
#u72_img {
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  height:40px;
}
#u73 {
  position:absolute;
  left:2px;
  top:12px;
  width:36px;
  visibility:hidden;
  word-wrap:break-word;
}
#u74 {
  position:absolute;
  left:1730px;
  top:632px;
  width:750px;
  height:128px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
}
#u74_img {
  position:absolute;
  left:0px;
  top:0px;
  width:750px;
  height:128px;
}
#u75 {
  position:absolute;
  left:2px;
  top:56px;
  width:746px;
  visibility:hidden;
  word-wrap:break-word;
}
#u76 {
  position:absolute;
  left:1786px;
  top:656px;
  width:40px;
  height:40px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
}
#u76_img {
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  height:40px;
}
#u77 {
  position:absolute;
  left:2px;
  top:12px;
  width:36px;
  visibility:hidden;
  word-wrap:break-word;
}
#u78 {
  position:absolute;
  left:1766px;
  top:715px;
  width:115px;
  height:28px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:24px;
}
#u78_img {
  position:absolute;
  left:0px;
  top:0px;
  width:115px;
  height:28px;
}
#u79 {
  position:absolute;
  left:0px;
  top:0px;
  width:115px;
  word-wrap:break-word;
}
#u80 {
  position:absolute;
  left:1942px;
  top:656px;
  width:40px;
  height:40px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
}
#u80_img {
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  height:40px;
}
#u81 {
  position:absolute;
  left:2px;
  top:12px;
  width:36px;
  visibility:hidden;
  word-wrap:break-word;
}
#u82 {
  position:absolute;
  left:1922px;
  top:715px;
  width:115px;
  height:28px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:24px;
}
#u82_img {
  position:absolute;
  left:0px;
  top:0px;
  width:115px;
  height:28px;
}
#u83 {
  position:absolute;
  left:0px;
  top:0px;
  width:115px;
  word-wrap:break-word;
}
#u84 {
  position:absolute;
  left:2093px;
  top:656px;
  width:40px;
  height:40px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
}
#u84_img {
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  height:40px;
}
#u85 {
  position:absolute;
  left:2px;
  top:12px;
  width:36px;
  visibility:hidden;
  word-wrap:break-word;
}
#u86 {
  position:absolute;
  left:2073px;
  top:715px;
  width:115px;
  height:28px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:24px;
}
#u86_img {
  position:absolute;
  left:0px;
  top:0px;
  width:115px;
  height:28px;
}
#u87 {
  position:absolute;
  left:0px;
  top:0px;
  width:115px;
  word-wrap:break-word;
}
#u88 {
  position:absolute;
  left:2247px;
  top:656px;
  width:40px;
  height:40px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
}
#u88_img {
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  height:40px;
}
#u89 {
  position:absolute;
  left:2px;
  top:12px;
  width:36px;
  visibility:hidden;
  word-wrap:break-word;
}
#u90 {
  position:absolute;
  left:2227px;
  top:715px;
  width:115px;
  height:28px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:24px;
}
#u90_img {
  position:absolute;
  left:0px;
  top:0px;
  width:115px;
  height:28px;
}
#u91 {
  position:absolute;
  left:0px;
  top:0px;
  width:115px;
  word-wrap:break-word;
}
#u92 {
  position:absolute;
  left:2384px;
  top:656px;
  width:40px;
  height:40px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
}
#u92_img {
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  height:40px;
}
#u93 {
  position:absolute;
  left:2px;
  top:12px;
  width:36px;
  visibility:hidden;
  word-wrap:break-word;
}
#u94 {
  position:absolute;
  left:2377px;
  top:715px;
  width:115px;
  height:28px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:24px;
}
#u94_img {
  position:absolute;
  left:0px;
  top:0px;
  width:115px;
  height:28px;
}
#u95 {
  position:absolute;
  left:0px;
  top:0px;
  width:115px;
  word-wrap:break-word;
}
#u96 {
  position:absolute;
  left:1730px;
  top:791px;
  width:188px;
  height:177px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
}
#u96_img {
  position:absolute;
  left:0px;
  top:0px;
  width:188px;
  height:177px;
}
#u97 {
  position:absolute;
  left:2px;
  top:80px;
  width:184px;
  visibility:hidden;
  word-wrap:break-word;
}
#u98 {
  position:absolute;
  left:1917px;
  top:791px;
  width:188px;
  height:177px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
}
#u98_img {
  position:absolute;
  left:0px;
  top:0px;
  width:188px;
  height:177px;
}
#u99 {
  position:absolute;
  left:2px;
  top:80px;
  width:184px;
  visibility:hidden;
  word-wrap:break-word;
}
#u100 {
  position:absolute;
  left:2105px;
  top:791px;
  width:188px;
  height:177px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
}
#u100_img {
  position:absolute;
  left:0px;
  top:0px;
  width:188px;
  height:177px;
}
#u101 {
  position:absolute;
  left:2px;
  top:80px;
  width:184px;
  visibility:hidden;
  word-wrap:break-word;
}
#u102 {
  position:absolute;
  left:2292px;
  top:791px;
  width:188px;
  height:177px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
}
#u102_img {
  position:absolute;
  left:0px;
  top:0px;
  width:188px;
  height:177px;
}
#u103 {
  position:absolute;
  left:2px;
  top:80px;
  width:184px;
  visibility:hidden;
  word-wrap:break-word;
}
#u104 {
  position:absolute;
  left:1730px;
  top:967px;
  width:188px;
  height:177px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
}
#u104_img {
  position:absolute;
  left:0px;
  top:0px;
  width:188px;
  height:177px;
}
#u105 {
  position:absolute;
  left:2px;
  top:80px;
  width:184px;
  visibility:hidden;
  word-wrap:break-word;
}
#u106 {
  position:absolute;
  left:1917px;
  top:967px;
  width:188px;
  height:177px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
}
#u106_img {
  position:absolute;
  left:0px;
  top:0px;
  width:188px;
  height:177px;
}
#u107 {
  position:absolute;
  left:2px;
  top:80px;
  width:184px;
  visibility:hidden;
  word-wrap:break-word;
}
#u108 {
  position:absolute;
  left:2105px;
  top:967px;
  width:188px;
  height:177px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
}
#u108_img {
  position:absolute;
  left:0px;
  top:0px;
  width:188px;
  height:177px;
}
#u109 {
  position:absolute;
  left:2px;
  top:80px;
  width:184px;
  visibility:hidden;
  word-wrap:break-word;
}
#u110 {
  position:absolute;
  left:2292px;
  top:967px;
  width:188px;
  height:177px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
}
#u110_img {
  position:absolute;
  left:0px;
  top:0px;
  width:188px;
  height:177px;
}
#u111 {
  position:absolute;
  left:2px;
  top:80px;
  width:184px;
  visibility:hidden;
  word-wrap:break-word;
}
#u112 {
  position:absolute;
  left:1789px;
  top:831px;
  width:61px;
  height:61px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
}
#u112_img {
  position:absolute;
  left:0px;
  top:0px;
  width:61px;
  height:61px;
}
#u113 {
  position:absolute;
  left:2px;
  top:22px;
  width:57px;
  visibility:hidden;
  word-wrap:break-word;
}
#u114 {
  position:absolute;
  left:1770px;
  top:917px;
  width:106px;
  height:28px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:24px;
}
#u114_img {
  position:absolute;
  left:0px;
  top:0px;
  width:106px;
  height:28px;
}
#u115 {
  position:absolute;
  left:0px;
  top:0px;
  width:106px;
  word-wrap:break-word;
}
#u116 {
  position:absolute;
  left:1977px;
  top:830px;
  width:61px;
  height:61px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
}
#u116_img {
  position:absolute;
  left:0px;
  top:0px;
  width:61px;
  height:61px;
}
#u117 {
  position:absolute;
  left:2px;
  top:22px;
  width:57px;
  visibility:hidden;
  word-wrap:break-word;
}
#u118 {
  position:absolute;
  left:1948px;
  top:916px;
  width:137px;
  height:28px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:24px;
}
#u118_img {
  position:absolute;
  left:0px;
  top:0px;
  width:137px;
  height:28px;
}
#u119 {
  position:absolute;
  left:0px;
  top:0px;
  width:137px;
  word-wrap:break-word;
}
#u120 {
  position:absolute;
  left:2165px;
  top:831px;
  width:61px;
  height:61px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
}
#u120_img {
  position:absolute;
  left:0px;
  top:0px;
  width:61px;
  height:61px;
}
#u121 {
  position:absolute;
  left:2px;
  top:22px;
  width:57px;
  visibility:hidden;
  word-wrap:break-word;
}
#u122 {
  position:absolute;
  left:2146px;
  top:917px;
  width:106px;
  height:28px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:24px;
}
#u122_img {
  position:absolute;
  left:0px;
  top:0px;
  width:106px;
  height:28px;
}
#u123 {
  position:absolute;
  left:0px;
  top:0px;
  width:106px;
  word-wrap:break-word;
}
#u124 {
  position:absolute;
  left:2352px;
  top:831px;
  width:61px;
  height:61px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
}
#u124_img {
  position:absolute;
  left:0px;
  top:0px;
  width:61px;
  height:61px;
}
#u125 {
  position:absolute;
  left:2px;
  top:22px;
  width:57px;
  visibility:hidden;
  word-wrap:break-word;
}
#u126 {
  position:absolute;
  left:2328px;
  top:917px;
  width:120px;
  height:28px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:24px;
}
#u126_img {
  position:absolute;
  left:0px;
  top:0px;
  width:120px;
  height:28px;
}
#u127 {
  position:absolute;
  left:0px;
  top:0px;
  width:120px;
  word-wrap:break-word;
}
#u128 {
  position:absolute;
  left:1793px;
  top:999px;
  width:61px;
  height:61px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
}
#u128_img {
  position:absolute;
  left:0px;
  top:0px;
  width:61px;
  height:61px;
}
#u129 {
  position:absolute;
  left:2px;
  top:22px;
  width:57px;
  visibility:hidden;
  word-wrap:break-word;
}
#u130 {
  position:absolute;
  left:1760px;
  top:1085px;
  width:133px;
  height:28px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:24px;
}
#u130_img {
  position:absolute;
  left:0px;
  top:0px;
  width:133px;
  height:28px;
}
#u131 {
  position:absolute;
  left:0px;
  top:0px;
  width:133px;
  word-wrap:break-word;
}
#u132 {
  position:absolute;
  left:1981px;
  top:998px;
  width:61px;
  height:61px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
}
#u132_img {
  position:absolute;
  left:0px;
  top:0px;
  width:61px;
  height:61px;
}
#u133 {
  position:absolute;
  left:2px;
  top:22px;
  width:57px;
  visibility:hidden;
  word-wrap:break-word;
}
#u134 {
  position:absolute;
  left:1952px;
  top:1084px;
  width:137px;
  height:28px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:24px;
}
#u134_img {
  position:absolute;
  left:0px;
  top:0px;
  width:137px;
  height:28px;
}
#u135 {
  position:absolute;
  left:0px;
  top:0px;
  width:137px;
  word-wrap:break-word;
}
#u136 {
  position:absolute;
  left:2169px;
  top:999px;
  width:61px;
  height:61px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
}
#u136_img {
  position:absolute;
  left:0px;
  top:0px;
  width:61px;
  height:61px;
}
#u137 {
  position:absolute;
  left:2px;
  top:22px;
  width:57px;
  visibility:hidden;
  word-wrap:break-word;
}
#u138 {
  position:absolute;
  left:2150px;
  top:1085px;
  width:106px;
  height:28px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:24px;
}
#u138_img {
  position:absolute;
  left:0px;
  top:0px;
  width:106px;
  height:28px;
}
#u139 {
  position:absolute;
  left:0px;
  top:0px;
  width:106px;
  word-wrap:break-word;
}
#u140 {
  position:absolute;
  left:2356px;
  top:999px;
  width:61px;
  height:61px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
}
#u140_img {
  position:absolute;
  left:0px;
  top:0px;
  width:61px;
  height:61px;
}
#u141 {
  position:absolute;
  left:2px;
  top:22px;
  width:57px;
  visibility:hidden;
  word-wrap:break-word;
}
#u142 {
  position:absolute;
  left:2338px;
  top:1085px;
  width:120px;
  height:28px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:24px;
}
#u142_img {
  position:absolute;
  left:0px;
  top:0px;
  width:120px;
  height:28px;
}
#u143 {
  position:absolute;
  left:0px;
  top:0px;
  width:120px;
  word-wrap:break-word;
}
#u144 {
  position:absolute;
  left:1730px;
  top:1176px;
  width:188px;
  height:177px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
}
#u144_img {
  position:absolute;
  left:0px;
  top:0px;
  width:188px;
  height:177px;
}
#u145 {
  position:absolute;
  left:2px;
  top:80px;
  width:184px;
  visibility:hidden;
  word-wrap:break-word;
}
#u146 {
  position:absolute;
  left:1917px;
  top:1176px;
  width:188px;
  height:177px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
}
#u146_img {
  position:absolute;
  left:0px;
  top:0px;
  width:188px;
  height:177px;
}
#u147 {
  position:absolute;
  left:2px;
  top:80px;
  width:184px;
  visibility:hidden;
  word-wrap:break-word;
}
#u148 {
  position:absolute;
  left:2105px;
  top:1176px;
  width:188px;
  height:177px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
}
#u148_img {
  position:absolute;
  left:0px;
  top:0px;
  width:188px;
  height:177px;
}
#u149 {
  position:absolute;
  left:2px;
  top:80px;
  width:184px;
  visibility:hidden;
  word-wrap:break-word;
}
#u150 {
  position:absolute;
  left:2292px;
  top:1176px;
  width:188px;
  height:177px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
}
#u150_img {
  position:absolute;
  left:0px;
  top:0px;
  width:188px;
  height:177px;
}
#u151 {
  position:absolute;
  left:2px;
  top:80px;
  width:184px;
  visibility:hidden;
  word-wrap:break-word;
}
#u152 {
  position:absolute;
  left:1793px;
  top:1208px;
  width:61px;
  height:61px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
}
#u152_img {
  position:absolute;
  left:0px;
  top:0px;
  width:61px;
  height:61px;
}
#u153 {
  position:absolute;
  left:2px;
  top:22px;
  width:57px;
  visibility:hidden;
  word-wrap:break-word;
}
#u154 {
  position:absolute;
  left:1768px;
  top:1294px;
  width:133px;
  height:28px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:24px;
}
#u154_img {
  position:absolute;
  left:0px;
  top:0px;
  width:133px;
  height:28px;
}
#u155 {
  position:absolute;
  left:0px;
  top:0px;
  width:133px;
  word-wrap:break-word;
}
#u156 {
  position:absolute;
  left:1981px;
  top:1207px;
  width:61px;
  height:61px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
}
#u156_img {
  position:absolute;
  left:0px;
  top:0px;
  width:61px;
  height:61px;
}
#u157 {
  position:absolute;
  left:2px;
  top:22px;
  width:57px;
  visibility:hidden;
  word-wrap:break-word;
}
#u158 {
  position:absolute;
  left:1952px;
  top:1293px;
  width:137px;
  height:28px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:24px;
}
#u158_img {
  position:absolute;
  left:0px;
  top:0px;
  width:137px;
  height:28px;
}
#u159 {
  position:absolute;
  left:0px;
  top:0px;
  width:137px;
  word-wrap:break-word;
}
#u160 {
  position:absolute;
  left:2169px;
  top:1208px;
  width:61px;
  height:61px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
}
#u160_img {
  position:absolute;
  left:0px;
  top:0px;
  width:61px;
  height:61px;
}
#u161 {
  position:absolute;
  left:2px;
  top:22px;
  width:57px;
  visibility:hidden;
  word-wrap:break-word;
}
#u162 {
  position:absolute;
  left:2150px;
  top:1294px;
  width:106px;
  height:28px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:24px;
}
#u162_img {
  position:absolute;
  left:0px;
  top:0px;
  width:106px;
  height:28px;
}
#u163 {
  position:absolute;
  left:0px;
  top:0px;
  width:106px;
  word-wrap:break-word;
}
#u164 {
  position:absolute;
  left:2356px;
  top:1208px;
  width:61px;
  height:61px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
}
#u164_img {
  position:absolute;
  left:0px;
  top:0px;
  width:61px;
  height:61px;
}
#u165 {
  position:absolute;
  left:2px;
  top:22px;
  width:57px;
  visibility:hidden;
  word-wrap:break-word;
}
#u166 {
  position:absolute;
  left:2334px;
  top:1294px;
  width:120px;
  height:28px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:24px;
}
#u166_img {
  position:absolute;
  left:0px;
  top:0px;
  width:120px;
  height:28px;
}
#u167 {
  position:absolute;
  left:0px;
  top:0px;
  width:120px;
  word-wrap:break-word;
}
#u168 {
  position:absolute;
  left:1730px;
  top:1384px;
  width:188px;
  height:93px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:24px;
}
#u168_img {
  position:absolute;
  left:0px;
  top:0px;
  width:188px;
  height:93px;
}
#u169 {
  position:absolute;
  left:2px;
  top:32px;
  width:184px;
  word-wrap:break-word;
}
#u170 {
  position:absolute;
  left:1917px;
  top:1384px;
  width:188px;
  height:93px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:24px;
}
#u170_img {
  position:absolute;
  left:0px;
  top:0px;
  width:188px;
  height:93px;
}
#u171 {
  position:absolute;
  left:2px;
  top:32px;
  width:184px;
  word-wrap:break-word;
}
#u172 {
  position:absolute;
  left:2105px;
  top:1384px;
  width:188px;
  height:93px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:24px;
}
#u172_img {
  position:absolute;
  left:0px;
  top:0px;
  width:188px;
  height:93px;
}
#u173 {
  position:absolute;
  left:2px;
  top:32px;
  width:184px;
  word-wrap:break-word;
}
#u174 {
  position:absolute;
  left:2293px;
  top:1384px;
  width:188px;
  height:93px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:24px;
}
#u174_img {
  position:absolute;
  left:0px;
  top:0px;
  width:188px;
  height:93px;
}
#u175 {
  position:absolute;
  left:2px;
  top:32px;
  width:184px;
  word-wrap:break-word;
}
#u176 {
  position:absolute;
  left:2366px;
  top:213px;
  width:124px;
  height:55px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
}
#u176_img {
  position:absolute;
  left:0px;
  top:0px;
  width:124px;
  height:55px;
}
#u177 {
  position:absolute;
  left:2px;
  top:20px;
  width:120px;
  visibility:hidden;
  word-wrap:break-word;
}
#u178 {
  position:absolute;
  left:2580px;
  top:213px;
  width:260px;
  height:140px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:24px;
  color:#FF9900;
}
#u178_img {
  position:absolute;
  left:0px;
  top:0px;
  width:260px;
  height:140px;
}
#u179 {
  position:absolute;
  left:0px;
  top:0px;
  width:260px;
  word-wrap:break-word;
}
#u180 {
  position:absolute;
  left:2490px;
  top:240px;
  width:86px;
  height:0px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
}
#u180_seg0 {
  position:absolute;
  left:-4px;
  top:-10px;
  width:100px;
  height:20px;
}
#u181 {
  position:absolute;
  left:-7px;
  top:-8px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u182 {
  position:absolute;
  left:1709px;
  top:526px;
  width:811px;
  height:858px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
}
#u182_img {
  position:absolute;
  left:0px;
  top:0px;
  width:811px;
  height:858px;
}
#u183 {
  position:absolute;
  left:2px;
  top:421px;
  width:807px;
  visibility:hidden;
  word-wrap:break-word;
}
#u184 {
  position:absolute;
  left:2610px;
  top:528px;
  width:300px;
  height:532px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:24px;
  color:#FF9900;
}
#u184_img {
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:532px;
}
#u185 {
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  word-wrap:break-word;
}
#u186 {
  position:absolute;
  left:2520px;
  top:555px;
  width:86px;
  height:0px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
}
#u186_seg0 {
  position:absolute;
  left:-4px;
  top:-10px;
  width:100px;
  height:20px;
}
#u187 {
  position:absolute;
  left:-7px;
  top:-8px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u188 {
  position:absolute;
  left:190px;
  top:267px;
  width:840px;
  height:117px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
}
#u188_img {
  position:absolute;
  left:0px;
  top:0px;
  width:840px;
  height:117px;
}
#u189 {
  position:absolute;
  left:2px;
  top:50px;
  width:836px;
  visibility:hidden;
  word-wrap:break-word;
}
#u190 {
  position:absolute;
  left:1124px;
  top:294px;
  width:366px;
  height:140px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:24px;
  color:#FF9900;
}
#u190_img {
  position:absolute;
  left:0px;
  top:0px;
  width:366px;
  height:140px;
}
#u191 {
  position:absolute;
  left:0px;
  top:0px;
  width:366px;
  word-wrap:break-word;
}
#u192 {
  position:absolute;
  left:1034px;
  top:321px;
  width:86px;
  height:0px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
}
#u192_seg0 {
  position:absolute;
  left:-4px;
  top:-10px;
  width:100px;
  height:20px;
}
#u193 {
  position:absolute;
  left:-7px;
  top:-8px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u194 {
  position:absolute;
  left:190px;
  top:394px;
  width:840px;
  height:186px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
}
#u194_img {
  position:absolute;
  left:0px;
  top:0px;
  width:840px;
  height:186px;
}
#u195 {
  position:absolute;
  left:2px;
  top:85px;
  width:836px;
  visibility:hidden;
  word-wrap:break-word;
}
#u196 {
  position:absolute;
  left:1124px;
  top:440px;
  width:366px;
  height:140px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:24px;
  color:#FF9900;
}
#u196_img {
  position:absolute;
  left:0px;
  top:0px;
  width:366px;
  height:140px;
}
#u197 {
  position:absolute;
  left:0px;
  top:0px;
  width:366px;
  word-wrap:break-word;
}
#u198 {
  position:absolute;
  left:1034px;
  top:467px;
  width:86px;
  height:0px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
}
#u198_seg0 {
  position:absolute;
  left:-4px;
  top:-10px;
  width:100px;
  height:20px;
}
#u199 {
  position:absolute;
  left:-7px;
  top:-8px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u200 {
  position:absolute;
  left:190px;
  top:583px;
  width:840px;
  height:100px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
}
#u200_img {
  position:absolute;
  left:0px;
  top:0px;
  width:840px;
  height:100px;
}
#u201 {
  position:absolute;
  left:2px;
  top:42px;
  width:836px;
  visibility:hidden;
  word-wrap:break-word;
}
#u202 {
  position:absolute;
  left:1124px;
  top:600px;
  width:366px;
  height:140px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:24px;
  color:#FF9900;
}
#u202_img {
  position:absolute;
  left:0px;
  top:0px;
  width:366px;
  height:140px;
}
#u203 {
  position:absolute;
  left:0px;
  top:0px;
  width:366px;
  word-wrap:break-word;
}
#u204 {
  position:absolute;
  left:1034px;
  top:627px;
  width:86px;
  height:0px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
}
#u204_seg0 {
  position:absolute;
  left:-4px;
  top:-10px;
  width:100px;
  height:20px;
}
#u205 {
  position:absolute;
  left:-7px;
  top:-8px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u206 {
  position:absolute;
  left:190px;
  top:683px;
  width:840px;
  height:100px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
}
#u206_img {
  position:absolute;
  left:0px;
  top:0px;
  width:840px;
  height:100px;
}
#u207 {
  position:absolute;
  left:2px;
  top:42px;
  width:836px;
  visibility:hidden;
  word-wrap:break-word;
}
#u208 {
  position:absolute;
  left:1124px;
  top:750px;
  width:366px;
  height:140px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:24px;
  color:#FF9900;
}
#u208_img {
  position:absolute;
  left:0px;
  top:0px;
  width:366px;
  height:140px;
}
#u209 {
  position:absolute;
  left:0px;
  top:0px;
  width:366px;
  word-wrap:break-word;
}
#u210 {
  position:absolute;
  left:1030px;
  top:733px;
  width:90px;
  height:100px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
}
#u210_seg0 {
  position:absolute;
  left:-4px;
  top:-10px;
  width:64px;
  height:20px;
}
#u210_seg1 {
  position:absolute;
  left:40px;
  top:-10px;
  width:20px;
  height:120px;
}
#u210_seg2 {
  position:absolute;
  left:40px;
  top:90px;
  width:54px;
  height:20px;
}
#u211 {
  position:absolute;
  left:0px;
  top:37px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u212 {
  position:absolute;
  left:220px;
  top:1384px;
  width:188px;
  height:93px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:24px;
}
#u212_img {
  position:absolute;
  left:0px;
  top:0px;
  width:188px;
  height:93px;
}
#u213 {
  position:absolute;
  left:2px;
  top:32px;
  width:184px;
  word-wrap:break-word;
}
#u214 {
  position:absolute;
  left:407px;
  top:1384px;
  width:188px;
  height:93px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:24px;
}
#u214_img {
  position:absolute;
  left:0px;
  top:0px;
  width:188px;
  height:93px;
}
#u215 {
  position:absolute;
  left:2px;
  top:32px;
  width:184px;
  word-wrap:break-word;
}
#u216 {
  position:absolute;
  left:595px;
  top:1384px;
  width:188px;
  height:93px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:24px;
}
#u216_img {
  position:absolute;
  left:0px;
  top:0px;
  width:188px;
  height:93px;
}
#u217 {
  position:absolute;
  left:2px;
  top:32px;
  width:184px;
  word-wrap:break-word;
}
#u218 {
  position:absolute;
  left:783px;
  top:1384px;
  width:188px;
  height:93px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:24px;
}
#u218_img {
  position:absolute;
  left:0px;
  top:0px;
  width:188px;
  height:93px;
}
#u219 {
  position:absolute;
  left:2px;
  top:32px;
  width:184px;
  word-wrap:break-word;
}
