body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:434px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u0 {
  position:absolute;
  left:10px;
  top:10px;
  width:424px;
  height:848px;
}
#u0_img {
  position:absolute;
  left:0px;
  top:0px;
  width:424px;
  height:848px;
}
#u1 {
  position:absolute;
  left:2px;
  top:416px;
  width:420px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2 {
  position:absolute;
  left:34px;
  top:97px;
  width:379px;
  height:671px;
}
#u2_img {
  position:absolute;
  left:0px;
  top:0px;
  width:379px;
  height:671px;
}
#u3 {
  position:absolute;
  left:2px;
  top:328px;
  width:375px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4 {
  position:absolute;
  left:34px;
  top:211px;
  width:378px;
  height:329px;
}
#u4_img {
  position:absolute;
  left:0px;
  top:0px;
  width:378px;
  height:329px;
}
#u5 {
  position:absolute;
  left:2px;
  top:156px;
  width:374px;
  visibility:hidden;
  word-wrap:break-word;
}
#u6 {
  position:absolute;
  left:35px;
  top:99px;
  width:375px;
  height:20px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#000000;
}
#u6_img {
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:20px;
}
#u7 {
  position:absolute;
  left:2px;
  top:0px;
  width:371px;
  word-wrap:break-word;
}
#u8 {
  position:absolute;
  left:73px;
  top:99px;
  width:22px;
  height:20px;
  font-family:'IOS8-Icons Regular', 'IOS8-Icons';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  text-align:center;
}
#u8_img {
  position:absolute;
  left:0px;
  top:0px;
  width:22px;
  height:20px;
}
#u9 {
  position:absolute;
  left:0px;
  top:2px;
  width:22px;
  word-wrap:break-word;
}
#u10 {
  position:absolute;
  left:40px;
  top:107px;
  width:33px;
  height:5px;
}
#u10_img {
  position:absolute;
  left:0px;
  top:0px;
  width:33px;
  height:5px;
}
#u11 {
  position:absolute;
  left:2px;
  top:-6px;
  width:29px;
  visibility:hidden;
  word-wrap:break-word;
}
#u12 {
  position:absolute;
  left:375px;
  top:104px;
  width:25px;
  height:10px;
}
#u12_img {
  position:absolute;
  left:0px;
  top:0px;
  width:25px;
  height:10px;
}
#u13 {
  position:absolute;
  left:2px;
  top:-3px;
  width:21px;
  visibility:hidden;
  word-wrap:break-word;
}
#u14 {
  position:absolute;
  left:344px;
  top:101px;
  width:31px;
  height:16px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  text-align:center;
}
#u14_img {
  position:absolute;
  left:0px;
  top:0px;
  width:31px;
  height:16px;
}
#u15 {
  position:absolute;
  left:0px;
  top:0px;
  width:31px;
  word-wrap:break-word;
}
#u16 {
  position:absolute;
  left:322px;
  top:99px;
  width:22px;
  height:20px;
  font-family:'IOS8-Icons Regular', 'IOS8-Icons';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  text-align:center;
}
#u16_img {
  position:absolute;
  left:0px;
  top:0px;
  width:22px;
  height:20px;
}
#u17 {
  position:absolute;
  left:0px;
  top:2px;
  width:22px;
  word-wrap:break-word;
}
#u18 {
  position:absolute;
  left:34px;
  top:117px;
  width:378px;
  height:51px;
}
#u18_img {
  position:absolute;
  left:0px;
  top:0px;
  width:378px;
  height:51px;
}
#u19 {
  position:absolute;
  left:2px;
  top:18px;
  width:374px;
  visibility:hidden;
  word-wrap:break-word;
}
#u20 {
  position:absolute;
  left:174px;
  top:129px;
  width:97px;
  height:29px;
}
#u20_img {
  position:absolute;
  left:0px;
  top:0px;
  width:97px;
  height:29px;
}
#u21 {
  position:absolute;
  left:0px;
  top:0px;
  width:97px;
  white-space:nowrap;
}
#u22 {
  position:absolute;
  left:43px;
  top:129px;
  width:30px;
  height:30px;
  font-family:'IOS8-Icons Regular', 'IOS8-Icons';
  font-weight:400;
  font-style:normal;
  font-size:28px;
}
#u22_img {
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:30px;
}
#u23 {
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  word-wrap:break-word;
}
#u24 {
  position:absolute;
  left:34px;
  top:167px;
  width:96px;
  height:40px;
  font-size:18px;
}
#u24_img {
  position:absolute;
  left:0px;
  top:0px;
  width:96px;
  height:40px;
}
#u25 {
  position:absolute;
  left:2px;
  top:9px;
  width:92px;
  word-wrap:break-word;
}
#u26 {
  position:absolute;
  left:130px;
  top:167px;
  width:96px;
  height:40px;
  font-size:18px;
}
#u26_img {
  position:absolute;
  left:0px;
  top:0px;
  width:96px;
  height:40px;
}
#u27 {
  position:absolute;
  left:2px;
  top:9px;
  width:92px;
  word-wrap:break-word;
}
#u28 {
  position:absolute;
  left:226px;
  top:167px;
  width:96px;
  height:40px;
  font-size:18px;
}
#u28_img {
  position:absolute;
  left:0px;
  top:0px;
  width:96px;
  height:40px;
}
#u29 {
  position:absolute;
  left:2px;
  top:9px;
  width:92px;
  word-wrap:break-word;
}
#u30 {
  position:absolute;
  left:322px;
  top:167px;
  width:90px;
  height:40px;
  font-size:18px;
}
#u30_img {
  position:absolute;
  left:0px;
  top:0px;
  width:90px;
  height:40px;
}
#u31 {
  position:absolute;
  left:2px;
  top:9px;
  width:86px;
  word-wrap:break-word;
}
#u32 {
  position:absolute;
  left:100px;
  top:178px;
  width:30px;
  height:30px;
  -webkit-transform:rotate(90deg);
  -moz-transform:rotate(90deg);
  -ms-transform:rotate(90deg);
  transform:rotate(90deg);
  font-family:'IOS8-Icons Regular', 'IOS8-Icons';
  font-weight:400;
  font-style:normal;
  font-size:16px;
}
#u32_img {
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:30px;
}
#u33 {
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  word-wrap:break-word;
}
#u34 {
  position:absolute;
  left:197px;
  top:177px;
  width:30px;
  height:30px;
  -webkit-transform:rotate(90deg);
  -moz-transform:rotate(90deg);
  -ms-transform:rotate(90deg);
  transform:rotate(90deg);
  font-family:'IOS8-Icons Regular', 'IOS8-Icons';
  font-weight:400;
  font-style:normal;
  font-size:16px;
}
#u34_img {
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:30px;
}
#u35 {
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  word-wrap:break-word;
}
#u36 {
  position:absolute;
  left:293px;
  top:177px;
  width:30px;
  height:30px;
  -webkit-transform:rotate(90deg);
  -moz-transform:rotate(90deg);
  -ms-transform:rotate(90deg);
  transform:rotate(90deg);
  font-family:'IOS8-Icons Regular', 'IOS8-Icons';
  font-weight:400;
  font-style:normal;
  font-size:16px;
}
#u36_img {
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:30px;
}
#u37 {
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  word-wrap:break-word;
}
#u38 {
  position:absolute;
  left:384px;
  top:177px;
  width:30px;
  height:30px;
  -webkit-transform:rotate(90deg);
  -moz-transform:rotate(90deg);
  -ms-transform:rotate(90deg);
  transform:rotate(90deg);
  font-family:'IOS8-Icons Regular', 'IOS8-Icons';
  font-weight:400;
  font-style:normal;
  font-size:16px;
}
#u38_img {
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:30px;
}
#u39 {
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  word-wrap:break-word;
}
#u40 {
  position:absolute;
  left:109px;
  top:222px;
  width:234px;
  height:22px;
  font-size:18px;
}
#u40_img {
  position:absolute;
  left:0px;
  top:0px;
  width:234px;
  height:22px;
}
#u41 {
  position:absolute;
  left:0px;
  top:0px;
  width:234px;
  white-space:nowrap;
}
#u42 {
  position:absolute;
  left:56px;
  top:252px;
  width:310px;
  height:10px;
}
#u42_start {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u42_end {
  position:absolute;
  left:293px;
  top:-5px;
  width:18px;
  height:20px;
}
#u42_line {
  position:absolute;
  left:0px;
  top:5px;
  width:310px;
  height:1px;
}
#u43 {
  position:absolute;
  left:52px;
  top:470px;
  width:310px;
  height:10px;
}
#u43_start {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u43_end {
  position:absolute;
  left:293px;
  top:-5px;
  width:18px;
  height:20px;
}
#u43_line {
  position:absolute;
  left:0px;
  top:5px;
  width:310px;
  height:1px;
}
#u44 {
  position:absolute;
  left:60px;
  top:263px;
  width:231px;
  height:214px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  line-height:28px;
}
#u44_img {
  position:absolute;
  left:0px;
  top:0px;
  width:231px;
  height:214px;
}
#u45 {
  position:absolute;
  left:0px;
  top:0px;
  width:231px;
  white-space:nowrap;
}
#u46 {
  position:absolute;
  left:266px;
  top:490px;
  width:100px;
  height:35px;
  font-size:18px;
}
#u46_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:35px;
}
#u47 {
  position:absolute;
  left:2px;
  top:6px;
  width:96px;
  word-wrap:break-word;
}
#u48 {
  position:absolute;
  left:92px;
  top:497px;
  width:93px;
  height:23px;
}
#u48_img {
  position:absolute;
  left:0px;
  top:0px;
  width:93px;
  height:23px;
}
#u49 {
  position:absolute;
  left:0px;
  top:0px;
  width:93px;
  white-space:nowrap;
}
#u50 {
  position:absolute;
  left:43px;
  top:215px;
  width:36px;
  height:36px;
}
#u50_img {
  position:absolute;
  left:0px;
  top:0px;
  width:36px;
  height:36px;
}
#u51 {
  position:absolute;
  left:2px;
  top:10px;
  width:32px;
  word-wrap:break-word;
}
#u52 {
  position:absolute;
  left:49px;
  top:495px;
  width:35px;
  height:26px;
  font-size:20px;
}
#u52_img {
  position:absolute;
  left:0px;
  top:0px;
  width:35px;
  height:26px;
}
#u53 {
  position:absolute;
  left:2px;
  top:2px;
  width:31px;
  word-wrap:break-word;
}
