body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:434px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u0 {
  position:absolute;
  left:10px;
  top:10px;
  width:424px;
  height:848px;
}
#u0_img {
  position:absolute;
  left:0px;
  top:0px;
  width:424px;
  height:848px;
}
#u1 {
  position:absolute;
  left:2px;
  top:416px;
  width:420px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2 {
  position:absolute;
  left:34px;
  top:97px;
  width:379px;
  height:671px;
}
#u2_img {
  position:absolute;
  left:0px;
  top:0px;
  width:379px;
  height:671px;
}
#u3 {
  position:absolute;
  left:2px;
  top:328px;
  width:375px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4 {
  position:absolute;
  left:35px;
  top:99px;
  width:375px;
  height:20px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#000000;
}
#u4_img {
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:20px;
}
#u5 {
  position:absolute;
  left:2px;
  top:0px;
  width:371px;
  word-wrap:break-word;
}
#u6 {
  position:absolute;
  left:73px;
  top:99px;
  width:22px;
  height:20px;
  font-family:'IOS8-Icons Regular', 'IOS8-Icons';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  text-align:center;
}
#u6_img {
  position:absolute;
  left:0px;
  top:0px;
  width:22px;
  height:20px;
}
#u7 {
  position:absolute;
  left:0px;
  top:2px;
  width:22px;
  word-wrap:break-word;
}
#u8 {
  position:absolute;
  left:40px;
  top:107px;
  width:33px;
  height:5px;
}
#u8_img {
  position:absolute;
  left:0px;
  top:0px;
  width:33px;
  height:5px;
}
#u9 {
  position:absolute;
  left:2px;
  top:-6px;
  width:29px;
  visibility:hidden;
  word-wrap:break-word;
}
#u10 {
  position:absolute;
  left:375px;
  top:104px;
  width:25px;
  height:10px;
}
#u10_img {
  position:absolute;
  left:0px;
  top:0px;
  width:25px;
  height:10px;
}
#u11 {
  position:absolute;
  left:2px;
  top:-3px;
  width:21px;
  visibility:hidden;
  word-wrap:break-word;
}
#u12 {
  position:absolute;
  left:344px;
  top:101px;
  width:31px;
  height:16px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  text-align:center;
}
#u12_img {
  position:absolute;
  left:0px;
  top:0px;
  width:31px;
  height:16px;
}
#u13 {
  position:absolute;
  left:0px;
  top:0px;
  width:31px;
  word-wrap:break-word;
}
#u14 {
  position:absolute;
  left:322px;
  top:99px;
  width:22px;
  height:20px;
  font-family:'IOS8-Icons Regular', 'IOS8-Icons';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  text-align:center;
}
#u14_img {
  position:absolute;
  left:0px;
  top:0px;
  width:22px;
  height:20px;
}
#u15 {
  position:absolute;
  left:0px;
  top:2px;
  width:22px;
  word-wrap:break-word;
}
#u16 {
  position:absolute;
  left:34px;
  top:117px;
  width:378px;
  height:51px;
}
#u16_img {
  position:absolute;
  left:0px;
  top:0px;
  width:378px;
  height:51px;
}
#u17 {
  position:absolute;
  left:2px;
  top:18px;
  width:374px;
  visibility:hidden;
  word-wrap:break-word;
}
#u18 {
  position:absolute;
  left:174px;
  top:129px;
  width:97px;
  height:29px;
}
#u18_img {
  position:absolute;
  left:0px;
  top:0px;
  width:97px;
  height:29px;
}
#u19 {
  position:absolute;
  left:0px;
  top:0px;
  width:97px;
  white-space:nowrap;
}
#u20 {
  position:absolute;
  left:34px;
  top:502px;
  width:379px;
  height:45px;
}
#u20_img {
  position:absolute;
  left:0px;
  top:0px;
  width:379px;
  height:45px;
}
#u21 {
  position:absolute;
  left:2px;
  top:14px;
  width:375px;
  visibility:hidden;
  word-wrap:break-word;
}
#u22 {
  position:absolute;
  left:43px;
  top:129px;
  width:30px;
  height:30px;
  font-family:'IOS8-Icons Regular', 'IOS8-Icons';
  font-weight:400;
  font-style:normal;
  font-size:28px;
}
#u22_img {
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:30px;
}
#u23 {
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  word-wrap:break-word;
}
#u24 {
  position:absolute;
  left:82px;
  top:503px;
  width:300px;
  height:45px;
  font-size:14px;
  line-height:22px;
}
#u24_img {
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:45px;
}
#u25 {
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  word-wrap:break-word;
}
#u26 {
  position:absolute;
  left:102px;
  top:714px;
  width:228px;
  height:50px;
  font-size:14px;
}
#u26_img {
  position:absolute;
  left:0px;
  top:0px;
  width:228px;
  height:50px;
}
#u27 {
  position:absolute;
  left:2px;
  top:16px;
  width:224px;
  word-wrap:break-word;
}
#u28 {
  position:absolute;
  left:34px;
  top:168px;
  width:379px;
  height:265px;
}
#u28_img {
  position:absolute;
  left:0px;
  top:0px;
  width:379px;
  height:265px;
}
#u29 {
  position:absolute;
  left:2px;
  top:124px;
  width:375px;
  visibility:hidden;
  word-wrap:break-word;
}
#u30 {
  position:absolute;
  left:87px;
  top:177px;
  width:296px;
  height:27px;
  font-size:18px;
}
#u30_img {
  position:absolute;
  left:0px;
  top:0px;
  width:296px;
  height:27px;
}
#u31 {
  position:absolute;
  left:0px;
  top:0px;
  width:296px;
  white-space:nowrap;
}
#u32 {
  position:absolute;
  left:77px;
  top:230px;
  width:310px;
  height:10px;
}
#u32_start {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u32_end {
  position:absolute;
  left:293px;
  top:-5px;
  width:18px;
  height:20px;
}
#u32_line {
  position:absolute;
  left:0px;
  top:5px;
  width:310px;
  height:1px;
}
#u33 {
  position:absolute;
  left:34px;
  top:435px;
  width:379px;
  height:66px;
}
#u33_img {
  position:absolute;
  left:0px;
  top:0px;
  width:379px;
  height:66px;
}
#u34 {
  position:absolute;
  left:2px;
  top:25px;
  width:375px;
  visibility:hidden;
  word-wrap:break-word;
}
#u35 {
  position:absolute;
  left:81px;
  top:241px;
  width:231px;
  height:196px;
  line-height:28px;
}
#u35_img {
  position:absolute;
  left:0px;
  top:0px;
  width:231px;
  height:196px;
}
#u36 {
  position:absolute;
  left:0px;
  top:0px;
  width:231px;
  white-space:nowrap;
}
#u37 {
  position:absolute;
  left:80px;
  top:440px;
  width:145px;
  height:53px;
  line-height:18px;
}
#u37_img {
  position:absolute;
  left:0px;
  top:0px;
  width:145px;
  height:53px;
}
#u38 {
  position:absolute;
  left:0px;
  top:0px;
  width:145px;
  white-space:nowrap;
}
#u39 {
  position:absolute;
  left:345px;
  top:517px;
  width:32px;
  height:30px;
}
#u39_img {
  position:absolute;
  left:0px;
  top:0px;
  width:32px;
  height:30px;
}
#u40 {
  position:absolute;
  left:2px;
  top:7px;
  width:28px;
  visibility:hidden;
  word-wrap:break-word;
}
#u41 {
  position:absolute;
  left:43px;
  top:174px;
  width:36px;
  height:36px;
}
#u41_img {
  position:absolute;
  left:0px;
  top:0px;
  width:36px;
  height:36px;
}
#u42 {
  position:absolute;
  left:2px;
  top:10px;
  width:32px;
  word-wrap:break-word;
}
#u43 {
  position:absolute;
  left:86px;
  top:211px;
  width:297px;
  height:27px;
  font-size:18px;
}
#u43_img {
  position:absolute;
  left:0px;
  top:0px;
  width:297px;
  height:27px;
}
#u44 {
  position:absolute;
  left:0px;
  top:0px;
  width:297px;
  white-space:nowrap;
}
#u45 {
  position:absolute;
  left:34px;
  top:551px;
  width:379px;
  height:160px;
}
#u45_img {
  position:absolute;
  left:0px;
  top:0px;
  width:379px;
  height:160px;
}
#u46 {
  position:absolute;
  left:2px;
  top:72px;
  width:375px;
  visibility:hidden;
  word-wrap:break-word;
}
#u47 {
  position:absolute;
  left:80px;
  top:560px;
  width:241px;
  height:19px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:16px;
}
#u47_img {
  position:absolute;
  left:0px;
  top:0px;
  width:241px;
  height:19px;
}
#u48 {
  position:absolute;
  left:0px;
  top:0px;
  width:241px;
  white-space:nowrap;
}
#u49 {
  position:absolute;
  left:312px;
  top:594px;
  width:80px;
  height:79px;
}
#u49_img {
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:79px;
}
#u50 {
  position:absolute;
  left:2px;
  top:32px;
  width:76px;
  visibility:hidden;
  word-wrap:break-word;
}
#u51 {
  position:absolute;
  left:190px;
  top:602px;
  width:73px;
  height:71px;
}
#u51_img {
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  height:71px;
}
#u52 {
  position:absolute;
  left:2px;
  top:28px;
  width:69px;
  visibility:hidden;
  word-wrap:break-word;
}
#u53 {
  position:absolute;
  left:63px;
  top:612px;
  width:73px;
  height:61px;
}
#u53_img {
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  height:61px;
}
#u54 {
  position:absolute;
  left:2px;
  top:22px;
  width:69px;
  visibility:hidden;
  word-wrap:break-word;
}
#u55 {
  position:absolute;
  left:64px;
  top:612px;
  width:72px;
  height:61px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u56 {
  position:absolute;
  left:191px;
  top:602px;
  width:72px;
  height:71px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u57 {
  position:absolute;
  left:312px;
  top:594px;
  width:80px;
  height:79px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u58 {
  position:absolute;
  left:86px;
  top:683px;
  width:33px;
  height:15px;
  font-size:16px;
}
#u58_img {
  position:absolute;
  left:0px;
  top:0px;
  width:33px;
  height:15px;
}
#u59 {
  position:absolute;
  left:0px;
  top:0px;
  width:33px;
  white-space:nowrap;
}
#u60 {
  position:absolute;
  left:215px;
  top:683px;
  width:33px;
  height:19px;
  font-size:16px;
}
#u60_img {
  position:absolute;
  left:0px;
  top:0px;
  width:33px;
  height:19px;
}
#u61 {
  position:absolute;
  left:0px;
  top:0px;
  width:33px;
  white-space:nowrap;
}
#u62 {
  position:absolute;
  left:338px;
  top:683px;
  width:33px;
  height:19px;
  font-size:16px;
}
#u62_img {
  position:absolute;
  left:0px;
  top:0px;
  width:33px;
  height:19px;
}
#u63 {
  position:absolute;
  left:0px;
  top:0px;
  width:33px;
  white-space:nowrap;
}
#u64 {
  position:absolute;
  left:78px;
  top:633px;
  width:52px;
  height:30px;
}
#u64_img {
  position:absolute;
  left:0px;
  top:0px;
  width:52px;
  height:30px;
}
#u65 {
  position:absolute;
  left:0px;
  top:0px;
  width:52px;
  white-space:nowrap;
}
#u66 {
  position:absolute;
  left:202px;
  top:625px;
  width:52px;
  height:30px;
}
#u66_img {
  position:absolute;
  left:0px;
  top:0px;
  width:52px;
  height:30px;
}
#u67 {
  position:absolute;
  left:0px;
  top:0px;
  width:52px;
  white-space:nowrap;
}
#u68 {
  position:absolute;
  left:326px;
  top:618px;
  width:52px;
  height:30px;
}
#u68_img {
  position:absolute;
  left:0px;
  top:0px;
  width:52px;
  height:30px;
}
#u69 {
  position:absolute;
  left:0px;
  top:0px;
  width:52px;
  white-space:nowrap;
}
