body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:695px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u0 {
  position:absolute;
  left:11px;
  top:13px;
  width:97px;
  height:37px;
}
#u0_img {
  position:absolute;
  left:0px;
  top:0px;
  width:97px;
  height:37px;
}
#u1 {
  position:absolute;
  left:0px;
  top:0px;
  width:97px;
  white-space:nowrap;
}
#u2 {
  position:absolute;
  left:210px;
  top:70px;
  width:200px;
  height:60px;
}
#u2_img {
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:60px;
}
#u3 {
  position:absolute;
  left:2px;
  top:22px;
  width:196px;
  word-wrap:break-word;
}
#u4 {
  position:absolute;
  left:110px;
  top:200px;
  width:150px;
  height:60px;
}
#u4_img {
  position:absolute;
  left:0px;
  top:0px;
  width:150px;
  height:60px;
}
#u5 {
  position:absolute;
  left:2px;
  top:22px;
  width:146px;
  word-wrap:break-word;
}
#u6 {
  position:absolute;
  left:400px;
  top:200px;
  width:150px;
  height:60px;
}
#u6_img {
  position:absolute;
  left:0px;
  top:0px;
  width:150px;
  height:60px;
}
#u7 {
  position:absolute;
  left:2px;
  top:22px;
  width:146px;
  word-wrap:break-word;
}
#u8 {
  position:absolute;
  left:210px;
  top:100px;
  width:-20px;
  height:100px;
}
#u8_seg0 {
  position:absolute;
  left:-30px;
  top:-10px;
  width:34px;
  height:20px;
}
#u8_seg1 {
  position:absolute;
  left:-30px;
  top:-10px;
  width:20px;
  height:114px;
}
#u9 {
  position:absolute;
  left:-70px;
  top:32px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u10 {
  position:absolute;
  left:410px;
  top:100px;
  width:30px;
  height:100px;
}
#u10_seg0 {
  position:absolute;
  left:-4px;
  top:-10px;
  width:44px;
  height:20px;
}
#u10_seg1 {
  position:absolute;
  left:20px;
  top:-10px;
  width:20px;
  height:114px;
}
#u11 {
  position:absolute;
  left:-20px;
  top:27px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u12 {
  position:absolute;
  left:11px;
  top:343px;
  width:97px;
  height:37px;
}
#u12_img {
  position:absolute;
  left:0px;
  top:0px;
  width:97px;
  height:37px;
}
#u13 {
  position:absolute;
  left:0px;
  top:0px;
  width:97px;
  white-space:nowrap;
}
#u14 {
  position:absolute;
  left:240px;
  top:410px;
  width:200px;
  height:60px;
}
#u14_img {
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:60px;
}
#u15 {
  position:absolute;
  left:2px;
  top:22px;
  width:196px;
  word-wrap:break-word;
}
#u16 {
  position:absolute;
  left:80px;
  top:530px;
  width:150px;
  height:60px;
}
#u16_img {
  position:absolute;
  left:0px;
  top:0px;
  width:150px;
  height:60px;
}
#u17 {
  position:absolute;
  left:2px;
  top:22px;
  width:146px;
  word-wrap:break-word;
}
#u18 {
  position:absolute;
  left:80px;
  top:670px;
  width:150px;
  height:60px;
}
#u18_img {
  position:absolute;
  left:0px;
  top:0px;
  width:150px;
  height:60px;
}
#u19 {
  position:absolute;
  left:2px;
  top:22px;
  width:146px;
  word-wrap:break-word;
}
#u20 {
  position:absolute;
  left:430px;
  top:530px;
  width:150px;
  height:60px;
}
#u20_img {
  position:absolute;
  left:0px;
  top:0px;
  width:150px;
  height:60px;
}
#u21 {
  position:absolute;
  left:2px;
  top:22px;
  width:146px;
  word-wrap:break-word;
}
#u22 {
  position:absolute;
  left:430px;
  top:670px;
  width:150px;
  height:60px;
}
#u22_img {
  position:absolute;
  left:0px;
  top:0px;
  width:150px;
  height:60px;
}
#u23 {
  position:absolute;
  left:2px;
  top:22px;
  width:146px;
  word-wrap:break-word;
}
#u24 {
  position:absolute;
  left:315px;
  top:790px;
  width:150px;
  height:60px;
}
#u24_img {
  position:absolute;
  left:0px;
  top:0px;
  width:150px;
  height:60px;
}
#u25 {
  position:absolute;
  left:2px;
  top:22px;
  width:146px;
  word-wrap:break-word;
}
#u26 {
  position:absolute;
  left:545px;
  top:790px;
  width:150px;
  height:60px;
}
#u26_img {
  position:absolute;
  left:0px;
  top:0px;
  width:150px;
  height:60px;
}
#u27 {
  position:absolute;
  left:2px;
  top:22px;
  width:146px;
  word-wrap:break-word;
}
#u28 {
  position:absolute;
  left:430px;
  top:910px;
  width:150px;
  height:60px;
}
#u28_img {
  position:absolute;
  left:0px;
  top:0px;
  width:150px;
  height:60px;
}
#u29 {
  position:absolute;
  left:2px;
  top:14px;
  width:146px;
  word-wrap:break-word;
}
#u30 {
  position:absolute;
  left:240px;
  top:440px;
  width:-80px;
  height:90px;
}
#u30_seg0 {
  position:absolute;
  left:-90px;
  top:-10px;
  width:94px;
  height:20px;
}
#u30_seg1 {
  position:absolute;
  left:-90px;
  top:-10px;
  width:20px;
  height:104px;
}
#u31 {
  position:absolute;
  left:-130px;
  top:-3px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u32 {
  position:absolute;
  left:160px;
  top:590px;
  width:0px;
  height:80px;
}
#u32_seg0 {
  position:absolute;
  left:-10px;
  top:-4px;
  width:20px;
  height:94px;
}
#u33 {
  position:absolute;
  left:-50px;
  top:32px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u34 {
  position:absolute;
  left:440px;
  top:440px;
  width:80px;
  height:90px;
}
#u34_seg0 {
  position:absolute;
  left:-4px;
  top:-10px;
  width:94px;
  height:20px;
}
#u34_seg1 {
  position:absolute;
  left:70px;
  top:-10px;
  width:20px;
  height:104px;
}
#u35 {
  position:absolute;
  left:30px;
  top:-3px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u36 {
  position:absolute;
  left:520px;
  top:590px;
  width:0px;
  height:80px;
}
#u36_seg0 {
  position:absolute;
  left:-10px;
  top:-4px;
  width:20px;
  height:94px;
}
#u37 {
  position:absolute;
  left:-50px;
  top:32px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u38 {
  position:absolute;
  left:430px;
  top:700px;
  width:-50px;
  height:90px;
}
#u38_seg0 {
  position:absolute;
  left:-60px;
  top:-10px;
  width:64px;
  height:20px;
}
#u38_seg1 {
  position:absolute;
  left:-60px;
  top:-10px;
  width:20px;
  height:104px;
}
#u39 {
  position:absolute;
  left:-100px;
  top:12px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u40 {
  position:absolute;
  left:580px;
  top:700px;
  width:50px;
  height:90px;
}
#u40_seg0 {
  position:absolute;
  left:-4px;
  top:-10px;
  width:64px;
  height:20px;
}
#u40_seg1 {
  position:absolute;
  left:40px;
  top:-10px;
  width:20px;
  height:104px;
}
#u41 {
  position:absolute;
  left:0px;
  top:12px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u42 {
  position:absolute;
  left:390px;
  top:850px;
  width:40px;
  height:100px;
}
#u42_seg0 {
  position:absolute;
  left:-10px;
  top:-4px;
  width:20px;
  height:114px;
}
#u42_seg1 {
  position:absolute;
  left:-10px;
  top:90px;
  width:54px;
  height:20px;
}
#u43 {
  position:absolute;
  left:-50px;
  top:62px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u44 {
  position:absolute;
  left:640px;
  top:850px;
  width:-60px;
  height:90px;
}
#u44_seg0 {
  position:absolute;
  left:-10px;
  top:-4px;
  width:20px;
  height:104px;
}
#u44_seg1 {
  position:absolute;
  left:-64px;
  top:80px;
  width:74px;
  height:20px;
}
#u45 {
  position:absolute;
  left:-50px;
  top:67px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
